{% extends "base.html" %}

{% block title %} Agregar Campo {% endblock %}

{% block content %}
<div class="info-container">
    <div id="list-title">
        Agregar Campo:
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div id="form-wrapper">
            <div id="small-wrapper">
                <div class="create-section">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-tractor"></i>Nombre Campo:</h3>
                        <h2 id="title-client-tag">{{land_form.nombre}}</h2>
                    </div>
                </div>
                <div class="create-section">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-list-ol"></i>Tipo campo:</h3>
                        <h2 id="title-client-tag">{{land_form.tipo}}</h2>
                    </div>
                </div>
            </div>
            <input type="submit" value="Crear" id="create-btn">
        </div>
    </form>
</div>
{% endblock %}