@import url(http://fonts.googleapis.com/css?family=Muli);

input:-webkit-autofill {
    box-shadow: none;
    -webkit-box-shadow:0 0 0 50px #232230 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #fff;
}

input:-webkit-autofill:focus {
    font-feature-settings: none;
    -webkit-font-feature-settings: none;
    box-shadow: none;
    -webkit-box-shadow: 0 0 0 50px #232230 inset;/*your box-shadow*/
    -webkit-text-fill-color: #fff;
} 

/* <------------------general--------------------> */

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
}

a {
    color: #fff;
    text-decoration:none;
}

a:visited{
    text-decoration: none !important;
}

.page-link{
    border: none;
    color: #63FF9B !important;
    padding: 0;
    width: fit-content;
    font-size: 20px;
}

.page-link:hover{
    background-color: #fff;
}


h1, h2, h3, h4, h5 , h6 { font-family: 'Muli', sans-serif; font-weight:normal; }



#content{
    margin-left: 22.5vw;
    padding:50px 0;
    width: 77.5vw;
    height: 100vh;
}

#overall-wrapper{
    display: flex;
}

#content-wrapper{
    margin-left: -22.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    overflow-y: hidden;
}

/* <------------------general--------------------> */

/* <--------------------nav---------------------> */

#header {
    padding:10px 100px;
    font-size:14px;
    background: #232230;
    color:#fff;
    border-bottom:3px solid #63FF9B;
    overflow:hidden;
    height: 50px;
    z-index: 10000;
}

#header .user{
    float: right;
    padding-top: 4px;
}

#header .logo {
    font-family: 'Muli', sans-serif;
    float:left;
    color:#fff;
    font-size:20px;
    margin-right:10%;
}

/* <--------------------nav---------------------> */
/* <------------------sidebar-------------------> */

#sidebar{
    text-align: left;
    height: 100vh;
    width: 15vw;
    padding: 50px 0px;
    background-color: #232230;
    color: #fff;
    -webkit-box-shadow: -2px -1px 15px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: -3px -2px 30px 1px rgba(0,0,0,0.425);
    box-shadow: -4px -3px 45px 1px rgba(0,0,0,0.35);
    overflow-x: hidden;
    position: fixed;
}

#sidebar-title img{
    width: 200px;
    height: auto;
}

#sidebar-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #63FF9B;
    width: 15vw;
    margin-top: -50px;
    height: 150px;
}

#sidebar ul{
    list-style-type: none;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 50;
    padding: 0;
}

#sidebar ul li{
    display: flex;
    align-items: center;
    justify-content:left;
    text-align: left;
    margin-bottom: 25px;
    padding: 10px 30px;
    transition: all 0.5s;
    width: 100%;
    cursor: pointer;
}

#sidebar ul li i {
    margin-right: 10px;
}

#sidebar ul li:hover a{
    color: #232230;
}

#sidebar ul li:hover{
    transform: translateY(-10%);
    color: #232230;
    background-color: #63FF9B;
}

#sidebar h3{
    font-size: 15px;
    padding: 0 30px;
}

#sidebar h4{
    padding: 0 30px;
    font-size: 13px;
}

#sidebar a{
    text-decoration: none;
}

#sidebar a:hover{
    color: #232230;
}

/* <------------------sidebar-------------------> */




/* <-------------------Forms--------------------> */

#form-box{
    margin-top: 150px;
    width: fit-content;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: -4px -3px 45px 1px rgba(0,0,0,0.35);
    z-index: 1000;
}

.form-element{
    background-color: #232230;
    margin: 40px 0;
    border-radius: 20px;
}

.form-element i{
    margin-left:15px;
    color: #fff;
}

.form-element input{
    border: none;
    font-size: 17px;
    padding:6px 10px;
    margin:10px 10px;
    width: 300px;
    height: 35px;
    background: none;
    color: #fff;
}

.form-element select{
    border: none;
    font-size: 17px;
    padding:6px 10px;
    margin:10px 10px;
    width: 300px;
    height: 35px;
    background: none;
    color: #fff;
}


.form-element input:valid{
    border: none;
    outline: none;
}

.form-element input:invalid{
    border: none;
    outline: none;
}

#form-btn{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    padding: 6px 10px;
    border-radius: 20px;
    width: 400px;
    margin:10px 0;
    color: #232230;
    background-color: #fff;
    -webkit-box-shadow: -2px -1px 15px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: -3px -2px 30px 0.5px rgba(0,0,0,0.425);
    box-shadow: -4px -3px 45px 0.5px rgba(0,0,0,0.35);
    transition: all 0.5s;
}

#form-btn:hover{
    background-color: #63FF9B;
    color: #232230;
} 

#form-box p{
    margin-top: 10px;
    color: #232230;
}

#form-box a:hover{
    color: #232230;
}

#form-box h3{
    text-align: left;
    font-size: 20px;
    margin-bottom: -20px;
}

#form-box ul{
    list-style-type: none;
    text-align: left;
}

#form-box li{
    width: 300px;
    margin-bottom: 10px;
}

/* cambio de color de bolts */

#form-box ul li::before { 
    content: "• ";  
    color: #63FF9B; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
  }

/* cambio de color de bolts */
e{
    color: red;
}

/* <-------------------Forms---------------------> */

/* <-------------------Login---------------------> */

#login-logo{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
}

#login-logo h1{
    color: #232230;
    font-size: 25px;
    margin-top: 5px;
    font-weight: lighter;
}

#logo-svg{
    width: 300px;
    height: auto;
}

.login-form{
    margin: 20px;
}

#bg-ilust{
    position: absolute;
    height: fit-content;
    width: min-content;
    left: 65%;
    bottom: -1px;
}

#bg-ilust img{
    width: 300px;
    height: auto;
}

#bg-ilust2 {
    position: absolute;
    height: fit-content;
    width: min-content;
    bottom: 0px;
    right: 60%;
    z-index: 1;
}

#bg-ilust2 img{
    width: 500px;
    height: auto;
}

/* <-------------------Login---------------------> */

/* <-------------------Logout--------------------> */

#logout-svg{
    width: 600px;
    height: auto;
}

/* <-------------------Logout--------------------> */

/* <----------------Pass-change------------------> */

#bg-pass-change{
    position: absolute;
    height: fit-content;
    width: min-content;
    bottom: -10px;
    left: -40px;
    z-index: 1;
}

#bg-pass-change img{
    width: 500px;
    height: auto;
}

#bg-pass-change2{
    position: absolute;
    height: fit-content;
    width: min-content;
    top: -10px;
    right: -220px;
    z-index: 10;
}

#bg-pass-change2 img{
    z-index: 0;
}

/* <----------------Pass-change------------------> */

/* <-------------Pass-change-done----------------> */

#pass-change-done-svg{
    width: 500px;
    height: auto;
    padding: 30px;
}

/* <-------------Pass-change-done----------------> */

/* <--------------Movement-lists-----------------> */

#section-title{
    width: 70vw;
    display: flex;
    justify-content: space-between;
}

#section-title h1{
    font-size: 1.5vw;
}

#top-buttons{
    width: 70vw;
    display: flex;
    justify-content: space-between;
}

#section-button{
    margin-bottom: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    font-size: 15px;
}


#section-button i{
    font-size: 0.8vw;
}

#back-arrow{
    font-size: 17px !important;
    margin-right: 5px;
}

#section-button a{
    text-decoration: none;
}

#search-btn{
    font-size: 0.9vw;
    width: fit-content;
    color: #fff;
    padding: 15px 20px;
    font-weight: bolder;
    border-radius: 5px;
    transition: all 0.5s;
    background-color: #2445ff;
}

#search-btn:hover{
    background-color: #232230;
    color: #fff;
    cursor: pointer;
}

#add-btn{
    font-size: 0.9vw;
    width: fit-content;
    color: #232230;
    padding: 15px 20px;
    font-weight: bolder;
    border-radius: 5px;
    transition: all 0.5s;
    background-color: #63FF9B;
}

#add-btn:hover{
    background-color: #232230;
    color: #fff;
    cursor: pointer;
}

.list-container{
    width: 70vw;
    margin-bottom: 100px;
    border-bottom: 2px solid #CACACACA;
}

.info-container{
    width: 70vw;
    padding-bottom: 50px;
}

.info-container a {
    text-decoration: none;
    color: #232230;
}

#list-title{
    font-size: 1.5vw;
    margin: 30px 0;
}

.list-container a{
    text-decoration: none;
    color: #232230;
}

.movement-card{
    width: 70vw;
    padding: 20px 30px;
    height: fit-content;
    background-color: #ffff;
    transition: all 0.5s;
    border-top: 2px solid #CACACACA;
}

.movement-card:hover{
    cursor: pointer;
    background-color: #63FF9B;
    box-shadow: 5px 4px 10px 0.5px rgba(0,0,0,0.35);
}

#client-tag{
    font-size: 1.3vw;
}

#date-tag{
    font-size: 1.3vw;
}

#card-row-1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

#card-row-2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#total-tag{
    float: right;
    color: #F50004;
    font-size: 1.3vw;
}

#total-sale-tag{
    float: right;
    color: rgb(2, 170, 2);
    font-size: 1.3vw;
}


#total-sale-remove-tag{
    float: right;
    color: #F50004;
    font-size: 1.3vw;
}

#status-tag{
    float: left;
    background-color: #F50004;
    font-size: 1vw;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

#status-done-tag{
    float: left;
    background-color: rgb(2, 170, 2);
    font-size: 1vw;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

#category-tag{
    float: left;
    background-color: #232230;
    font-size: 1vw;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}


#manualmove-type-tag{
        float: left;
        background-color: rgb(2, 170, 2);
        font-size: 1vw;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
}

/* <--------------Movement-lists-----------------> */

/* <---------------Search-view-------------------> */

#search-form-svg{
    width: 200px;
    height: auto;
    padding: 30px;
}

/* <---------------Search-view-------------------> */

/* <-------------Purchase-detail-----------------> */

#purchase-main-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 30px;
    width: 70vw;
    border: 2px solid  #CACACACA;
    border-right: 0px;
}

#purchase-header{
    font-size: 1vw;
    font-weight: bolder;
    margin-top: 40px;
}

#info-title{
    color: #232230;
    width: 100%;
}

#info-title h1{
    margin: 0;
    font-size: 0.8vw;
    font-weight: bolder;
    background-color: #fff;
    background-color: #63FF9B;
    padding: 20px 10px;
    border-right: 2px solid #CACACACA;
}

#info-item{
    width: 100%;
    padding: 20px 5px;
    font-size: 0.8vw;
    background-color: #fff;
    border-top: 2px solid #CACACACA;
    border-right: 2px solid #CACACACA;
    color: #232230;
}

#total-info-item{
    width: 100%;
    padding: 20px;
    font-size: 0.9vw;
    background-color: #fd3e41;
    color: #fff;
    border-right: 2px solid #CACACACA;
}

/* <-------------Purchase-detail-----------------> */

/* <-------------Create-purchase-----------------> */

#create-form-box{
    width: 70vw;
    height: fit-content;
    padding: 20px;
    border-top: 2px solid #CACACACA;
    border-bottom: 2px solid #CACACACA;
}

#create-form-box p{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#create-item input:valid{
    outline: none;
    border: none;
    border-bottom: 2px solid #63FF9B;
}

#create-item input:invalid{
    outline: none;
    border: none;
    border-bottom: 2px solid #63FF9B;

}


#create-item input:focus{
    outline: none;
    border-bottom:2px solid #63FF9B;
}

#create-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#create-wrapper h3{
    font-size: 20px;
}

#create-wrapper input:valid{
    border-bottom: 2px solid #63FF9B ;
    outline: none;
}

#create-wrapper input:invalid{
    border-bottom: 2px solid #63FF9B ;
    outline: none;
}

#create-wrapper select{
    width: 200px;
    height: 40px;
    border: none;
    font-weight: 400;
    border-bottom: 2px solid #63FF9B ;
    padding: 10px;
    transition: border-bottom 0.5s;
}

#create-wrapper select:focus{
    border-bottom:2px solid #232230;
    color: #232230;
}

#create-wrapper select:valid{
    border-bottom: 2px solid #63FF9B ;
    outline: none;
}

#create-wrapper select:invalid{
    border: none;
    outline: none;
}

#create-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.create-element{
    margin:0 15px;
}

#create-btn{
    width: fit-content;
    text-align: center;
    margin: 10px 30px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 0.8vw;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #232230;
    transition: background-color 0.5s;
}

#create-btn:hover{
    background-color: #63FF9B;
    color: #232230;
}

#step-text{
    text-align: left;
    width: 100%;
    font-weight: bolder;
    font-size: 20px;
    padding: 20px;
    background-color: #fff;
    color: #000;
}

.formset_row input:valid{
    border-bottom: 2px solid #63FF9B ;
    outline: none;
}

.formset_row input:invalid{
    border: none;
    outline: none;
}

.formset_row select, input{
    width: 200px;
    height: 40px;
    border: none;
    font-weight: 400;
    border-bottom: 2px solid #63FF9B ;
    padding: 10px;
    transition: border-bottom 0.5s;
}

.formset_row select:focus{
    border-bottom:2px solid #232230;
    color: #232230;
}

.formset_row input:focus{
    border-bottom:2px solid #232230;
    color: #232230;
}

.table{
    margin:20px 0;
}

.add-row{
    background-color: #63FF9B;
    color: #232230;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 5px;
    padding: 10px 10px;
    width: 150px;
    transition: background-color 0.2s;
    float: left;
    width: fit-content;
}

.add-row:hover{
    background-color: #232230;
    color: #fff;
}

.delete-row{
    color: #232230;
}

/* <-------------Create-purchase-----------------> */
/* <------------ManualMove-create----------------> */



/* <------------ManualMove-create----------------> */




