{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="list-container">

        <div id="step-wrapper">
            <div id="form-box">
                <form action="." method="post">

                    {% csrf_token %}
                    <h2 id="step-text">1- Datos generales de la compra. </h2>
                    <hr>
                    <div id="create-wrapper">
                        <div id="create-item">
                            <h3>Cliente:</h3>
                            <div class="form-element">
                                {{purchase_form.client}} 
                            </div>
                        </div>
                        <div id="create-item">
                            <h3>Animales</h3>
                            <div class="form-element">
                                {{purchase_form.total_animals}}
                            </div>
                        </div>
                    </div>
                    
                    <div id="create-wrapper">
                        <div id="create-item">
                            <h3>Kg brutos</h3>
                            <div class="form-element">
                                {{purchase_form.brute_kg}}
                            </div>
                        </div>
                        <div id="create-item">
                            <h3>Desbaste</h3>
                            <div class="form-element">
                                {{purchase_form.desbaste}}
                            </div>
                        </div>
                    </div>
                    
                    {{ formset.as_p }}
                    
                    <p><input type="submit" value="Crear" id="purchase-btn"></p>
                </form>

            </div>
        </div>

        <!--<div id="step-wrapper">


            <div id="form-box">
                <div>
                    <img src="{% static 'images/step1.svg' %}" alt="" id="step-svg">
                </div>
                <h2 id="step-text">2- Agregue animales por categoría </h2>
            </div>

            <div id="form-box">
                <form action="." method="post">

                    {% csrf_token %}
                    <div id="create-wrapper">
                        <div id="create-item">
                            <h3>Categoría</h3>
                            <div class="form-element">
                                {{row_form.category}} 
                            </div>
                        </div>
                        <div id="create-item">
                            <h3>Precio por kilo</h3>
                            <div class="form-element">
                                {{row_form.price_kg}}
                            </div>
                        </div>
                    </div>
                    
                    <div id="create-wrapper">
                        <div id="create-item">
                            <h3>Cabezas</h3>
                            <div class="form-element">
                                {{row_form.heads}}
                            </div>
                        </div>
                        <div id="create-item">
                            <h3>IVA</h3>
                            <div class="form-element">
                                {{row_form.iva}}
                            </div>
                        </div>
                    </div>

                    <p><input type="submit" value="Crear" id="purchase-btn"></p>
                </form>
            </div>
        </div>
    -->
    </div>
    

{% endblock %}