{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="info-container">

        
        <form action="." method="post">
            {% csrf_token %}
            <div id="list-title">
                1- Datos generales:
            </div>
            <div id="wrapper">
                <div class="title-movement-card">
                    <div id="card-row-1">
                        <h2 id="title-client-tag">Campo:</h2>
                        <h2 id="title-client-tag">Proveedor:</h2>
                        <h2 id="title-client-tag">Kg brutos:</h2>
                        <h2 id="title-client-tag">Desbaste:</h2>
                        <h2 id="title-client-tag">Animales:</h2>
                    </div>
                </div>
                <div class="title-movement-card">
                    <div id="card-row-1">
                        <h2 id="title-client-tag">{{purchase_form.campo}}</h2>
                        <h2 id="title-client-tag">{{purchase_form.client}}</h2>
                        <h2 id="title-client-tag">{{purchase_form.brute_kg}}</h2>
                        <h2 id="title-client-tag">{{purchase_form.desbaste}}</h2>
                        <h2 id="title-client-tag">{{purchase_form.total_animals}}</h2>
                    </div>
                </div>
            </div>
            <div id="list-title">
                2- Animales por categoría (máximo 3 categorías) :
            </div>
            {{formset.management_form}}
            {% for form in formset %}
            <div id="wrapper">
                <div class="title-movement-card">
                    <div id="card-row-1">
                        {% for field in form %}
                            {% if field.label != 'Id' %}
                            <h2 id="title-client-tag">{{field.label}}</h2>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="title-movement-card">
                    <div id="card-row-1">
                        {% for field in form %}
                            {% if field.label != 'Id' %}
                                <h2 id="title-client-tag">{{field}}</h2>
                            {% endif %} 
                        {% endfor %}                       
                    </div>
                </div>
            </div>
            {% endfor %}

            <input type="submit" value="crear" id="create-btn">


        </form>


    </div>
{% endblock %}