{% extends "base.html" %}

{% load purchase_extras %}

{% block title %}Compras{% endblock %}


{% block content %}

    <div id="top-buttons">
        <div id="section-button">
            <a href="{% url 'purchases:purchase_search' %}">
                <h2 id="search-btn">Buscar compra <i class="fas fa-search"></i></h2>
            </a>
        </div>
        <div id="section-button">
            <a href="{% url 'purchases:purchase_create' %}">
                <h2 id="add-btn">Agregar compra <i class="fas fa-plus"></i></h2>
            </a>
        </div>
    </div>
    <div class="list-container" >
        <div id="purchase-main-info">
            <div id="info-title">
                <h1>Compras totales</h1>
                <div id="info-item">
                    {{ total_purchases }}
                </div>
            </div>
            <div id="info-title">
                <h1>Compras Por pagar</h1>
                <div id="info-item">
                    {{ total_unpayed_purchases }}
                </div>
            </div>
            <div id="info-title">
                <h1>Monto a pagar:</h1>
                <div id="info-item">{{ amount_to_pay_total | currency }}</div>                
            </div>
        </div>
        
        <h1 id="list-title">Historial de Compras:</h1>

        {% for purchase in purchases %}
            <a href="{{ purchase.get_absolute_url }}">
                <div class="movement-card">
                    <div id="card-row-1">
                        <h2 id="client-tag">{{ purchase.client }}</h2>
                        <h2 id="date-tag"> {{ purchase.date.day }}/{{ purchase.date.month }}/{{ purchase.date.year }} </h2>
                    </div>
                    <div id="card-row-2">
                        {% if purchase.status == 'por pagar' %}
                            <h2 id="status-tag">{{ purchase.status | capfirst}}</h2>
                        {% else %}
                            <h2 id="status-done-tag">{{ purchase.status | capfirst}}</h2>
                        {% endif %}    
                        <h2 id="total-tag">Total: {{ purchase.calculate_total | floatformat:2 | currency }}</h2>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}