{% extends "base.html" %}

{% load purchase_extras %}

{% block title %}Compras{% endblock %}


{% block content %}

    <div id="top-buttons">
        <div id="section-button">
            <a href="{% url 'purchases:purchase_search' %}">
                <h2 id="search-btn">Buscar compra <i class="fas fa-search"></i></h2>
            </a>
        </div>
        <div id="section-button">
            <a href="{% url 'purchases:purchase_create' %}">
                <h2 id="add-btn">Agregar compra <i class="fas fa-plus"></i></h2>
            </a>
        </div>
    </div>
    <div class="info-container" >
        <div id="wrapper">
            <div class="title-movement-card">
                <div id="card-row-1">
                    <h2 id="date-title-tag">Compras totales:</h2>
                    <h2 id="date-title-tag">Compras por pagar:</h2>
                    <h2 id="date-title-tag">Monto por pagar:</h2>              
                </div>
            </div>
            <div class="movement-card">
                <div id="card-row-1">
                    <h2 id="date-tag">{{ total_purchases }}</h2>
                    <h2 id="date-tag">{{ total_unpayed_purchases }}</h2>
                    <h2 id="total-tag">{{ amount_to_pay_total | currency }}</h2>               
                </div>
            </div>
        </div>        
        <h1 id="list-title">Historial de Compras:</h1>
            <div class="title-movement-card">
                <div id="card-row-1">
                    <h2 id="client-title-tag">Cliente:</h2>
                    <h2 id="date-title-tag">Fecha:</h2>
                    <h2 id="state-title-tag">Estado:</h2>              
                    <h2 id="total-title-tag">Total compra:</h2>
                </div>
            </div>
        {% for purchase in purchases %}
            <a href="{{ purchase.get_absolute_url }}">
                <div class="movement-card">
                    <div id="card-row-1">
                        <h2 id="client-tag">{{ purchase.client }}</h2>
                        <h2 id="date-tag"> {{ purchase.date.day }}/{{ purchase.date.month }}/{{ purchase.date.year }} </h2>
                        {% if purchase.status == 'por pagar' %}
                            <h2 id="status-tag">{{ purchase.status | capfirst}}</h2>
                        {% else %}
                            <h2 id="status-done-tag">{{ purchase.status | capfirst}}</h2>
                        {% endif %}    
                        <h2 id="total-tag">Total: {{ purchase.calculate_total | floatformat:2 | currency }}</h2>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}