{% extends "base.html" %}

{% load purchase_extras %}

{% load humanize %}

{% block title %} Cheques propios {% endblock %}

{% block content %}

{% if query or date_query_start %}

<div class="info-container">
    {% if query %}
    <div id="list-title">
        Filtrando por: "{{query}}"
    </div>
    {% endif %}
    {% if date_query_start %}
    <div id="list-title">
        Filtrando entre Fechas: "{{date_query_start}}" y "{{date_query_end}}"
    </div>
    {% endif %}
    {% if self_checks %}
    <div class="title-movement-card">
        <div id="card-row-1">
            <h2 id="title-client-tag">Salida:</h2>
            <h2 id="title-client-tag">Proveedor:</h2>
            <h2 id="title-client-tag">Depósito:</h2>
            <h2 id="title-client-tag">Número:</h2>
            <h2 id="title-client-tag">Estado:</h2>
            <h2 id="title-client-tag">Monto:</h2>
        </div>
    </div>
    {% endif %}
    {% for check in self_checks %}
    {% if check.estado == 'pagado' %}

    <a href="{{ check.get_absolute_url }}">
        <div class="movement-card">
            <div id="card-row-1">
                <h2 id="client-tag"> {{ check.fecha_salida | date:"d M Y"}}</h2>
                <h2 id="client-tag">{{ check.cliente | capfirst}}</h2>
                <h2 id="client-tag"> {{ check.fecha_pago | date:"d M Y"}}
                <h2 id="client-tag">{{ check.numero_cheque}}</h2>
                </h2>
                {% if check.estado == 'a pagar' %}
                <h2 id="status-tag">{{ check.estado | capfirst}}</h2>
                {% elif check.estado == 'anulado' %}
                <h2 id="endosed-tag">{{ check.estado | capfirst}}</h2>
                {% elif check.estado == 'pagado' %}
                <h2 id="status-done-tag">{{ check.estado | capfirst}}</h2>
                {% endif %}
                <h2 id="client-tag">${{ check.monto | intcomma }}</h2>
            </div>
        </div>
        </a>

    {% endif %}
    {% if check.calculate_remaining < -30 or check.estado == "anulado" %} <a href="{{ check.get_absolute_url }}">
        <a href="{{ check.get_absolute_url }}">
        <div class="red-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag"> {{ check.fecha_salida | date:"d M Y"}}</h2>
                <h2 id="client-tag">{{ check.cliente | capfirst}}</h2>
                <h2 id="client-tag"> {{ check.fecha_pago | date:"d M Y"}}
                <h2 id="client-tag">{{ check.numero_cheque}}</h2>
                </h2>
                {% if check.estado == 'a pagar' %}
                <h2 id="status-tag">{{ check.estado | capfirst}}</h2>
                {% elif check.estado == 'anulado' %}
                <h2 id="endosed-tag">{{ check.estado | capfirst}}</h2>
                {% elif check.estado == 'pagado' %}
                <h2 id="status-done-tag">{{ check.estado | capfirst}}</h2>
                {% endif %}
                <h2 id="client-tag">${{ check.monto | intcomma }}</h2>
            </div>
        </div>
        </a>

    {% elif check.calculate_remaining < 0 and check.estado == 'a pagar' %}
        <a href="{{ check.get_absolute_url }}">
        <div class="yellow-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag"> {{ check.fecha_salida | date:"d M Y"}}</h2>
                <h2 id="client-tag">{{ check.cliente | capfirst}}</h2>
                <h2 id="client-tag"> {{ check.fecha_pago | date:"d M Y"}}
                <h2 id="client-tag">{{ check.numero_cheque}}</h2>
                </h2>
                {% if check.estado == 'a pagar' %}
                <h2 id="status-tag">{{ check.estado | capfirst}}</h2>
                {% elif check.estado == 'anulado' %}
                <h2 id="endosed-tag">{{ check.estado | capfirst}}</h2>
                {% elif check.estado == 'pagado' %}
                <h2 id="status-done-tag">{{ check.estado | capfirst}}</h2>
                {% endif %}
                <h2 id="client-tag">${{ check.monto | intcomma }}</h2>
            </div>
        </div>
        </a>
    {% elif check.calculate_remaining > 0 and check.estado == 'a pagar' %}
        <a href="{{ check.get_absolute_url }}">
            <div class="green-movement-card">
                <div id="card-row-1">
                    <h2 id="client-tag"> {{ check.fecha_salida | date:"d M Y"}}</h2>
                    <h2 id="client-tag">{{ check.cliente | capfirst}}</h2>
                    <h2 id="client-tag"> {{ check.fecha_pago | date:"d M Y"}}
                    <h2 id="client-tag">{{ check.numero_cheque}}</h2>
                    </h2>
                    {% if check.estado == 'a pagar' %}
                    <h2 id="status-tag">{{ check.estado | capfirst}}</h2>
                    {% elif check.estado == 'anulado' %}
                    <h2 id="endosed-tag">{{ check.estado | capfirst}}</h2>
                    {% elif check.estado == 'pagado' %}
                    <h2 id="status-done-tag">{{ check.estado | capfirst}}</h2>
                    {% endif %}
                    <h2 id="client-tag">${{ check.monto | intcomma }}</h2>
                </div>
            </div>
            </a>
    {% endif %}
        {% endfor %}
</div>
<div class="actions-sidebar">

    <div id="actions">
        <div id="action">
            <div id="action-section">
                Volver a listado
            </div>
            <a href="{% url 'funds:checks_self' %}">
                <h1 id="action-title">Volver <i class="fa-solid fa-chevron-right"></i></h1>
            </a>
        </div>
    </div>
</div>
{% else %}

<div class="info-container">
    <h1 id="list-title">A Pagar</h1>
    <div id="wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Hoy</h2>
                <h2 id="title-client-tag">1-7 días:</h2>
                <h2 id="title-client-tag">8-15 días:</h2>
                <h2 id="title-client-tag">16-30 días:</h2>
                <h2 id="title-client-tag">31-60 días:</h2>
                <h2 id="title-client-tag">>60 días</h2>
                <h2 id="title-client-tag">Total:</h2>
            </div>
        </div>
        <div class="title-movement-card">
            <div id="total-card-row">
                <h2 id="client-tag">${{today_checks | intcomma}}</h2>
                <h2 id="client-tag">${{week_checks | intcomma}}</h2>
                <h2 id="client-tag">${{two_week_checks | intcomma}}</h2>
                <h2 id="client-tag">${{month_checks | intcomma}}</h2>
                <h2 id="client-tag">${{two_month_checks | intcomma}}</h2>
                <h2 id="client-tag">${{more_months_checks | intcomma}}</h2>
                <h2 id="client-tag">${{total_to_pay_checks | intcomma}}</h2>
            </div>
        </div>
    </div>

    {% if self_checks %}
    <div class="title-movement-card">
        <div id="card-row-1">
            <h2 id="title-client-tag">Salida:</h2>
            <h2 id="title-client-tag">Proveedor:</h2>
            <h2 id="title-client-tag">Depósito:</h2>
            <h2 id="title-client-tag">Número:</h2>
            <h2 id="title-client-tag">Estado:</h2>
            <h2 id="title-client-tag">Monto:</h2>
        </div>
    </div>
    {% endif %}
    {% for check in self_checks %}
    {% if check.estado == 'pagado' %}

    <a href="{{ check.get_absolute_url }}">
        <div class="movement-card">
            <div id="card-row-1">
                <h2 id="client-tag"> {{ check.fecha_salida | date:"d M Y"}}</h2>
                <h2 id="client-tag">{{ check.cliente | capfirst}}</h2>
                <h2 id="client-tag"> {{ check.fecha_pago | date:"d M Y"}}
                <h2 id="client-tag">{{ check.numero_cheque}}</h2>
                </h2>
                {% if check.estado == 'a pagar' %}
                <h2 id="status-tag">{{ check.estado | capfirst}}</h2>
                {% elif check.estado == 'anulado' %}
                <h2 id="endosed-tag">{{ check.estado | capfirst}}</h2>
                {% elif check.estado == 'pagado' %}
                <h2 id="status-done-tag">{{ check.estado | capfirst}}</h2>
                {% endif %}
                <h2 id="client-tag">${{ check.monto | intcomma }}</h2>
            </div>
        </div>
        </a>
    {% elif check.calculate_remaining < -30 or check.estado == "anulado" and check.estado != "pagado" %} <a href="{{ check.get_absolute_url }}">
        <a href="{{ check.get_absolute_url }}">
        <div class="red-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag"> {{ check.fecha_salida | date:"d M Y"}}</h2>
                <h2 id="client-tag">{{ check.cliente | capfirst}}</h2>
                <h2 id="client-tag"> {{ check.fecha_pago | date:"d M Y"}}
                <h2 id="client-tag">{{ check.numero_cheque}}</h2>
                </h2>
                {% if check.estado == 'a pagar' %}
                <h2 id="status-tag">{{ check.estado | capfirst}}</h2>
                {% elif check.estado == 'anulado' %}
                <h2 id="endosed-tag">{{ check.estado | capfirst}}</h2>
                {% elif check.estado == 'pagado' %}
                <h2 id="status-done-tag">{{ check.estado | capfirst}}</h2>
                {% endif %}
                <h2 id="client-tag">${{ check.monto | intcomma }}</h2>
            </div>
        </div>
        </a>

    {% elif check.calculate_remaining < 0 and check.estado == 'a pagar' %}
        <a href="{{ check.get_absolute_url }}">
        <div class="green-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag"> {{ check.fecha_salida | date:"d M Y"}}</h2>
                <h2 id="client-tag">{{ check.cliente | capfirst}}</h2>
                <h2 id="client-tag"> {{ check.fecha_pago | date:"d M Y"}}
                <h2 id="client-tag">{{ check.numero_cheque}}</h2>
                </h2>
                {% if check.estado == 'a pagar' %}
                <h2 id="status-tag">{{ check.estado | capfirst}}</h2>
                {% elif check.estado == 'anulado' %}
                <h2 id="endosed-tag">{{ check.estado | capfirst}}</h2>
                {% elif check.estado == 'pagado' %}
                <h2 id="status-done-tag">{{ check.estado | capfirst}}</h2>
                {% endif %}
                <h2 id="client-tag">${{ check.monto | intcomma }}</h2>
            </div>
        </div>
        </a>
    {% elif check.calculate_remaining > 0 and check.estado == 'a pagar' %}
        <a href="{{ check.get_absolute_url }}">
            <div class="yellow-movement-card">
                <div id="card-row-1">
                    <h2 id="client-tag"> {{ check.fecha_salida | date:"d M Y"}}</h2>
                    <h2 id="client-tag">{{ check.cliente | capfirst}}</h2>
                    <h2 id="client-tag"> {{ check.fecha_pago | date:"d M Y"}}
                    <h2 id="client-tag">{{ check.numero_cheque}}</h2>
                    </h2>
                    {% if check.estado == 'a pagar' %}
                    <h2 id="status-tag">{{ check.estado | capfirst}}</h2>
                    {% elif check.estado == 'anulado' %}
                    <h2 id="endosed-tag">{{ check.estado | capfirst}}</h2>
                    {% elif check.estado == 'pagado' %}
                    <h2 id="status-done-tag">{{ check.estado | capfirst}}</h2>
                    {% endif %}
                    <h2 id="client-tag">${{ check.monto | intcomma }}</h2>
                </div>
            </div>
            </a>
    {% endif %}
        {% endfor %}
</div>
<div class="actions-sidebar">

    <div id="actions">
        <div id="action">
            <form action="." method="get" id="search-form" class="date-form">
                {% csrf_token %}
                <div id="search-label">
                    <i class="fas fa-calendar-alt"></i> Fecha inicio / Fecha final:
                </div>
                {{date_form.date_query_start }}
                {{date_form.date_query_end }}
                <input type="submit" value="Buscar" id="search-btn">
            </form>
            <form action="." method="get" id="search-form">
                {% csrf_token %}
                <div id="search-label">
                    <i class="fas fa-search"></i> Buscar por Proveedor:
                </div>
                {{search_form.query}}
                <input type="submit" value="Buscar" id="search-btn">
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}