{% extends "base.html" %}

{% load humanize %}

{% block title %} Listado de ingresos y egresos {% endblock %}

{% block content %}

{% if date_query_end %}
<div class="info-container">
    <div id="list-title">
        Filtrando entre Fechas: "{{date_query_start }}" y "{{date_query_end}}"
    </div>
    {% if income_outcomes %}
    <div class="title-movement-card">
        <div id="card-row-1">
            <h2 id="title-client-tag">Fecha:</h2>
            <h2 id="title-client-tag">Operador:</h2>
            <h2 id="title-client-tag">Factura:</h2>
            <h2 id="title-client-tag">Tipo:</h2>
            <h2 id="title-client-tag">Monto:</h2>
        </div>
    </div>
    {% endif %}
    {% for in_out in income_outcomes %}
    <a href="{{in_out.get_absolute_url}}">
        <div class="movement-card">
            <div id="card-row-1">
                <h2 id="date-tag"> {{ in_out.date | date:"d M Y"}} </h2>
                <h2 id="client-tag">{{ in_out.operador | capfirst}}</h2>
                <h2 id="client-tag">{{ in_out.factura | capfirst}}</h2>
                <h2 id="total-tag">{{ in_out.tipo }}</h2>
                <h2 id="total-tag">{{ in_out.monto | floatformat:2 | intcomma }}</h2>
            </div>
        </div>
    </a>
    {% empty %}
    <div id="list-title">
        No hay resultados para la búsqueda
    </div>
    {% endfor %}

</div>
<div class="actions-sidebar">
    <div id="actions">
        <div id="action">
            <div id="action-section">
                Volver a listado
            </div>
            <a href="{% url 'funds:income_outcome_list' %}">
                <h1 id="action-title">Volver <i class="fa-solid fa-chevron-right"></i></h1>
            </a>
        </div>
    </div>
</div>
{% else %}
<div class="info-container">
    <div id="list-title">
        Historial de movimientos a mano de fondos:
    </div>
    {% if income_outcomes %}
    <div class="title-movement-card">
        <div id="card-row-1">
            <h2 id="title-client-tag">Fecha:</h2>
            <h2 id="title-client-tag">Operador:</h2>
            <h2 id="title-client-tag">Factura:</h2>
            <h2 id="title-client-tag">Tipo:</h2>
            <h2 id="title-client-tag">Monto:</h2>
        </div>
    </div>
    {%else%}
    <div id="list-title">
        Aún no hay modificaciones a mano:
    </div>
    {% endif %}
    {% for in_out in income_outcomes %}
    <a href="{{in_out.get_absolute_url}}">
        <div class="movement-card">
            <div id="card-row-1">
                <h2 id="date-tag"> {{ in_out.date | date:"d M Y"}} </h2>
                <h2 id="client-tag">{{ in_out.operador | capfirst}}</h2>
                <h2 id="client-tag">{{ in_out.factura | capfirst}}</h2>
                <h2 id="total-tag">{{ in_out.tipo }}</h2>
                <h2 id="total-tag">{{ in_out.monto | floatformat:2 | intcomma }}</h2>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
<div class="actions-sidebar">

    <div id="actions">
        <div id="action">
            <form action="." method="get" id="search-form" class="date-form">
                {% csrf_token %}
                <div id="search-label">
                    <i class="fas fa-calendar-alt"></i> Fecha inicio / Fecha final:
                </div>
                {{date_form.date_query_start }}
                {{date_form.date_query_end }}
                <input type="submit" value="Buscar" id="search-btn">
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

