{% extends "base.html" %}

{% load purchase_extras %}

{% load humanize %}

{% block title %} Detalle del Cheque {% endblock %}

{% block content %}

<div class="info-container">
    <h1 id="list-title">Viendo cheque número: {{self_check}}</h1>
    <div id="wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Fecha Salida</h2>
                <h2 id="title-client-tag">Proveedor</h2>
                <h2 id="title-client-tag">Fecha Pago</h2>
                <h2 id="title-client-tag">Monto</h2>
            </div>
        </div>
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{ self_check.fecha_salida | date:"d M Y"}}</h2>
                <h2 id="client-tag">{{ self_check.cliente | capfirst }}</h2>
                <h2 id="client-tag">{{ self_check.fecha_pago | date:"d M Y"}}</h2>
                <h2 id="client-total-tag">${{self_check.monto | intcomma}}</h2>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Número cheque</h2>
                <h2 id="title-client-tag">Banco de emisión</h2>
                <h2 id="title-client-tag">Titular cheque</h2>
                <h2 id="title-client-tag">Estado</h2>
            </div>
        </div>
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{ self_check.numero_cheque}}</h2>
                <h2 id="client-tag">{{ self_check.banco_emision | capfirst}}</h2>
                <h2 id="client-tag">{{self_check.titular_cheque | capfirst}}</h2>
                <h2 id="client-tag">{{self_check.estado | capfirst}}</h2>
            </div>
        </div>
    </div>
</div>
<div class="actions-sidebar">

    <div id="actions">
        <div id="action">
            <div id="action-section">
                Cheque
            </div>
            <a href="{{self_check.get_update_url}}">
                <h1 id="edit-btn">Editar cheque<i class="fa-solid fa-chevron-right"></i></h1>
            </a>
            <form method="post" id="delete-form" action="">
                {% csrf_token %}
                {{ detroy_object_form.field.as_hidden }}
                <input type="button" id="delete-btn" value="Eliminar cheque">
                <input type="hidden" name="delete_token" value="1">
            </form>
            {% if self_check.estado != 'anulado' %}
            <form method="post" id="change-state-form" action="">
                {% csrf_token %}
                {{ change_state_form.field.as_hidden }}
                <input type="button" id="change-state-btn" value="Cambiar estado" class="change-state-btn">
                <input type="hidden" name="change_token" value="1">
            </form>
            <form method="post" id="cancel-state-form" action="">
                {% csrf_token %}
                {{ change_state_form.field.as_hidden }}
                <input type="button" id="change-state-btn" value="Anular cheque" class="cancel-state-btn">
                <input type="hidden" name="cancel_token" value="1">
            </form>
            {% endif %}
            {% if self_check.estado == 'anulado' %}
            <form method="post" id="del-cancel-state-form" action="">
                {% csrf_token %}
                {{ change_state_form.field.as_hidden }}
                <input type="button" id="change-state-btn" value="Eliminar anulado" class="del-cancel-state-btn">
                <input type="hidden" name="del_cancel_token" value="1">
            </form>
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript">
    var inputElement = document.getElementById("delete-btn")
    inputElement.addEventListener("click", function () {
        if (confirm('Si elimina el cheque se descontará su total del pago de la compra/gasto.')) {
            document.getElementById("delete-form").submit()
        } else {
            return false;
        }
    })

    if (document.querySelectorAll('.change-state-btn')) {
        var inputs = document.querySelectorAll('.change-state-btn')
        inputs.forEach((input) => {
            input.addEventListener("click", function () {
                if (confirm('Confirme para cambiar el estado a pagado.')) {
                    document.getElementById('change-state-form').submit()
                } else {
                    return false;
                }
            })
        }
        )
    }

    if (document.querySelectorAll('.cancel-state-btn')) {
        var inputs = document.querySelectorAll('.cancel-state-btn')
        inputs.forEach((input) => {
            input.addEventListener("click", function () {
                if (confirm('Si anula el cheque se eliminará de alguna compra/gasto relacionado.')) {
                    document.getElementById('cancel-state-form').submit()
                } else {
                    return false;
                }
            })
        }
        )
    }

    if (document.querySelectorAll('.del-cancel-state-btn')) {
        var inputs = document.querySelectorAll('.del-cancel-state-btn')
        inputs.forEach((input) => {
            input.addEventListener("click", function () {
                if (confirm('Confirme para quitar el anulado del cheque.')) {
                    document.getElementById('del-cancel-state-form').submit()
                } else {
                    return false;
                }
            })
        }
        )
    }

</script>

{% endblock %}