{% extends "base.html" %}

{% block title %}Crear venta de granos {% endblock %}

{% block content %}

<div class="info-container">
    <div id="list-title">
        Agregar venta:
    </div>

    <form action="." method="post">
        {% csrf_token %}

        <div id="form-wrapper">
            <div id="small-wrapper">
                <div class="create-section-horizontal">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-tractor"></i>Cliente:</h3>
                        <h2 id="title-client-tag">{{grain_sale_form.cliente}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-receipt"></i>Grano</h3>
                        <h2 id="title-client-tag">{{grain_sale_form.grano}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-user"></i>Precio Tn.
                        </h3>
                        <h2 id="title-client-tag">{{grain_sale_form.precio_tn}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-vial"></i>IVA</h3>
                        <h2 id="title-client-tag">{{grain_sale_form.iva}}</h2>
                    </div>
                </div>
            </div>
            <div id="small-wrapper">
                <div class="create-section-horizontal">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-money-bill-wave"></i>Camionero:</h3>
                        <h2 id="title-client-tag">{{grain_sale_form.camionero}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-weight-hanging"></i>Patente
                        </h3>
                        <h2 id="title-client-tag">{{grain_sale_form.patente}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-percent"></i>Kg Bruto:
                        </h3>
                        <h2 id="title-client-tag">{{grain_sale_form.kg_bruto}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-hand-holding-dollar"></i>Kg Tara</h3>
                        <h2 id="title-client-tag">{{grain_sale_form.kg_tara}}</h2>
                    </div>
                </div>
            </div>
            {{grain_sale_form.errors}}
            <input type="submit" value="Crear" id="create-btn">
        </div>
    </form>
</div>

{% endblock %}