{% extends "base.html" %}

{% load purchase_extras %}

{% block title %}Movimientos a mano de Stock{% endblock %}

{% block content %}

    <div id="top-buttons">
        <div id="section-button">
            <a href="{% url 'stock:stock_list' %}">
                <h2 id="search-btn"><i class="fas fa-chevron-left" id="back-arrow"></i>Volver a Stock </h2>
            </a>
        </div>
    </div>
    <div id="section-title">
        <h1 id="list-title">Historial de movimientos a mano:</h1>
    </div>
    <div class="list-container" >
        
        {% for manualmove in manualmoves %}
            <a href="{{ manualmove.get_absolute_url }}">
                <div class="movement-card">
                    <div id="card-row-1">
                        <h2 id="client-tag">Movimiento a mano</h2>
                        <h2 id="date-tag"> {{ manualmove.date.day }}/{{ manualmove.date.month }}/{{ manualmove.date.year }} </h2>
                    </div>
                    <div id="card-row-2">
                        <h2 id="status-tag">{{ manualmove.tipo | capfirst}}</h2>
                        {% if manualmove.tipo == 'agregado' %}
                            <h2 id="total-sale-tag">{{ manualmove.categoria | capfirst }}</h2>
                        {% else %}
                            <h2 id="total-sale-remove-tag"> {{ manualmove.categoria | capfirst }} </h2>
                        {% endif %}

                    </div>
                </div>
            </a>
        {% endfor %}

    </div>
{% endblock %}