{% extends "base.html" %}

{% block content %}
<div class="info-container">
    <h1 id="list-title">Viendo Movimiento: {{ manualmove }}</h1>
    <div id="wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Campo:</h2>
                <h2 id="title-client-tag">Fecha:</h2>
                <h2 id="title-client-tag">Acción:</h2>
                <h2 id="title-client-tag">Animal:</h2>
                <h2 id="title-client-tag">Cantidad:</h2>
            </div>
        </div>
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{ manualmove.campo | capfirst}}</h2>
                <h2 id="client-tag">{{ manualmove.date | date:"d M Y"}}
                </h2>
                <h2 id="client-tag">{{ manualmove.tipo | capfirst}}</h2>
                <h2 id="client-tag">{{ manualmove.categoria | capfirst}}</h2>
                <h2 id="client-tag">{{ manualmove.cantidad }}</h2>
            </div>
        </div>
    </div>
</div>
<div class="actions-sidebar">

    <div id="actions">
        <div id="action">
            <div id="action-section">
                Movimiento
            </div>
            <a href="{{manualmove.get_update_url}}">
                <h1 id="edit-btn">Editar movimiento<i class="fa-solid fa-chevron-right"></i></h1>
            </a>
            <form method="post" id="delete-form" action="">
                {% csrf_token %}
                {{ detroy_object_form.field.as_hidden }}
                <input type="button" id="delete-btn" value="Eliminar movimiento">
                <input type="hidden" name="delete_token" value="1">
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    var harvestElement = document.getElementById("delete-btn")
    harvestElement.addEventListener("click", function () {
        if (confirm('Si elimina la compra se eliminarán los pagos relacionados y se desendosan los cheques endosados.')) {
            document.getElementById("delete-form").submit()
        } else {
            return false;
        }
    });

    var inputs = document.querySelectorAll('.endose-btn')
    inputs.forEach(input => {
        input.addEventListener("click", function () {
            if (confirm('Quiere endosar el cheque?')) {
                document.getElementById("endose-form").submit()
            } else {
                return false;
            }
        })
    }
    )
</script>

{% endblock %}