{% extends "base.html" %}

{% block content %}
<div class="info-container">
    <h1 id="list-title">Viendo Movimiento: {{ manualmove }}</h1>
    <div id="wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Campo:</h2>
                <h2 id="title-client-tag">Fecha:</h2>
                <h2 id="title-client-tag">Acción:</h2>
                <h2 id="title-client-tag">Animal:</h2>
                <h2 id="title-client-tag">Cantidad:</h2>
            </div>
        </div>
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{ manualmove.campo | capfirst}}</h2>
                <h2 id="client-tag">{{ manualmove.date | date:"d M Y"}}
                </h2>
                <h2 id="client-tag">{{ manualmove.tipo | capfirst}}</h2>
                <h2 id="client-tag">{{ manualmove.categoria | capfirst}}</h2>
                <h2 id="client-tag">{{ manualmove.cantidad }}</h2>
            </div>
        </div>
    </div>
    <div id="top-buttons">
        <form method="post" onsubmit="confirm('Confirme para eliminar el movimiento')">
            {% csrf_token %}
            {{ detroy_object_form.field.as_hidden }}
            <input type="submit" id="change-state-btn" value="Eliminar">
        </form>
    </div>
</div>

{% endblock %}