{% extends "base.html" %}

{% load purchase_extras %}

{% block title %}Movimientos a mano de Stock{% endblock %}

{% block content %}
<div class="info-container">
    <div id="list-title">
        Historial movimientos a mano
    </div>

    {% if manualmoves %}
    <div class="title-movement-card">
        <div id="card-row-1">
            <h2 id="title-client-tag">Campo:</h2>
            <h2 id="title-client-tag">Fecha:</h2>
            <h2 id="title-client-tag">Acción:</h2>
            <h2 id="title-client-tag">Animal:</h2>
            <h2 id="title-client-tag">Cantidad:</h2>
        </div>
    </div>
    {% endif %}
    {% for move in manualmoves %}
    <a href="{{ move.get_absolute_url }}">
        <div class="movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{ move.campo}}</h2>
                <h2 id="client-tag"> {{ move.date | date:"d M Y"}} </h2>
                <h2 id="client-tag">{{ move.tipo | capfirst}}</h2>
                <h2 id="client-tag">{{ move.categoria | capfirst}}</h2>
                <h2 id="client-tag">{{ move.cantidad }}</h2>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}