{% extends "base.html" %}

{% load purchase_extras %}

{% block content %}

    <div id="top-buttons">
        <div id="section-button">
            <a href="{% url 'stock:manualmove_list' %}">
                <h2 id="search-btn">Ver movimientos a mano </h2>
            </a>
        </div>
        <div id="section-button">
            <a href="{% url 'stock:manualmove_create' %}">
                <h2 id="add-btn">Movimiento a mano <i class="fas fa-plus"></i></h2>
            </a>
        </div>
    </div>

    <div id="section-title">
        <h1>Listado de Stock de Ganado:</h1>
    </div>

    <div class="list-container" >
        <div id="purchase-main-info">
            <div id="info-title">
                <h1>Categoría:</h1>
                <div id="info-item">
                    Total:
                </div>
            </div>
            {% for i in totals_len|loop_maker %}
            <div id="info-title">
                <h1>{% get_index choices_names i %}</h1>
                    <div id="info-item">{% get_index category_totals i %}</div>                
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}