{% extends "base.html" %}

{% load purchase_extras %}

{% block content %}
<h1 id="list-title">Listado de Stock de Ganado:</h1>

<div class="info-container">
    <div id="wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Categoría:</h2>
                {% for i in totals_len|loop_maker %}
                <h2 id="title-client-tag">{% get_index choices_names i %}</h2>
                {% endfor %}
            </div>
        </div>
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">Total:</h2>
                {% for i in totals_len|loop_maker %}
                <h2 id="client-tag">{% get_index category_totals i %}</h2>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}