{% extends 'base.html' %}

{% load purchase_extras %}

{% block title %} Crear Gasto {% endblock %}

{% block content %}
<div class="info-container">
    <div id="list-title">
        Agregar gasto
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div id="form-wrapper">
            <div id="small-wrapper">
                <div class="create-section">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-tractor"></i>Campo:</h3>
                        <h2 id="title-client-tag">{{expense_form.campo}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-list-ol"></i>Concepto:</h3>
                        <h2 id="title-client-tag">{{expense_form.concepto}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-mountain"></i>Categoría:</h3>
                        <h2 id="title-client-tag">{{expense_form.categoria}}</h2>
                    </div>
                </div>
                <div class="create-section">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-mountain"></i>Descripción:</h3>
                        <h2 id="title-client-tag">{{expense_form.descripcion}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-file-image"></i>Monto:
                        </h3>
                        <h2 id="title-client-tag">{{expense_form.monto}}</h2>
                    </div>
                </div>
            </div>
            <input type="submit" value="Crear" id="create-btn">
        </div>
    </form>
</div>
<div class="actions-sidebar">

    <div id="actions">
        <div id="action-section">
            Cambiar gasto
        </div>
        <h3 id="update-description">
            Recuerde que al editar el gasto se eliminan los pagos anteriormente registrados en la misma y se
            desendosan los cheques endosados.
        </h3>
    </div>
</div>
{% endblock %}