{% extends "base.html" %}
{% load static %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <div id="content-wrapper">
        <div id="form-box">
            <div id="login-logo">
                <svg width="483" height="318" viewBox="0 0 483 318" fill="none" xmlns="http://www.w3.org/2000/svg" id="logo-svg">
                    <path d="M19.5539 289.167L56.793 224.667L94.0321 289.167H19.5539Z" fill="#63FF9B" stroke="#63FF9B" stroke-width="7"/>
                    <path d="M314.837 217.525L358.06 292.57L271.458 292.48L314.837 217.525Z" fill="#63FF9B" fill-opacity="0.6"/>
                    <path d="M272.823 142.473L316.047 217.518L229.444 217.428L272.823 142.473Z" fill="#63FF9B" fill-opacity="0.5"/>
                    <path d="M293.198 14.1199L314.81 51.6424L271.509 51.5975L293.198 14.1199Z" fill="#232230" fill-opacity="0.8"/>
                    <path d="M143.334 67.6666L186.635 142.667H100.033L143.334 67.6666Z" fill="#63FF9B" fill-opacity="0.6"/>
                    <path d="M229.686 217.667L272.987 292.667H186.384L229.686 217.667Z" fill="#232230" fill-opacity="0.8"/>
                    <path d="M401.378 217.615L444.601 292.66L357.999 292.57L401.378 217.615Z" fill="#232230" fill-opacity="0.7"/>
                    <path d="M401.533 67.6145L444.757 142.659L358.154 142.57L401.533 67.6145Z" fill="#232230" fill-opacity="0.8"/>
                    <path d="M314.992 67.5994L358.216 142.644L271.613 142.554L314.992 67.5994Z" fill="#232230" fill-opacity="0.3"/>
                    <path d="M56.793 117.667L100.094 192.667H13.4917L56.793 117.667Z" fill="#63FF9B" fill-opacity="0.5"/>
                    <path d="M186.474 142.675L229.775 217.675H143.172L186.474 142.675Z" fill="#63FF9B" fill-opacity="0.5"/>
                    <path d="M100 292.675L56.6987 217.675H143.301L100 292.675Z" fill="#63FF9B" fill-opacity="0.8"/>
                    <path d="M357.966 292.562L314.742 217.517L401.345 217.606L357.966 292.562Z" fill="#63FF9B" fill-opacity="0.8"/>
                    <path d="M357.862 100.484L314.639 25.4396L401.241 25.5295L357.862 100.484Z" fill="#63FF9B" fill-opacity="0.7"/>
                    <path d="M272.667 292.49L229.444 217.445L316.046 217.535L272.667 292.49Z" fill="#63FF9B" fill-opacity="0.8"/>
                    <path d="M314.837 217.525L271.614 142.48L358.216 142.57L314.837 217.525Z" fill="#63FF9B" fill-opacity="0.7"/>
                    <path d="M186.474 292.675L143.172 217.675H229.775L186.474 292.675Z" fill="#232230" fill-opacity="0.7"/>
                    <path d="M143.334 217.667L100.033 142.667H186.635L143.334 217.667Z" fill="#232230" fill-opacity="0.3"/>
                    <path d="M25 135.124L3.34937 97.6237H46.6506L25 135.124Z" fill="#232230" fill-opacity="0.2"/>
                    </svg>    
                <h1>AgroCloud</h1>
            </div>
            
            {% if form.errors %}
                <p>
                    Usuario o contraseña incorrectos.
                </p>
            {% endif %}
                <div class="login-form">
                    <form action="{% url 'account:login' %}" method="post">
                        {% csrf_token %}
                        
                            <div class="form-element">
                                <i class="fas fa-user"></i> {{form.username}} 
                            </div>
                            <div class="form-element">
                                <i class="fas fa-lock"></i> {{form.password}}
                            </div>
                    <input type="hidden" name="next" value="{{ next }}" />
                    <p><input type="submit" value="Ingresar" id="form-btn"></p>
                    </form>
                </div>
        </div>
        <div id="bg-ilust">
            <img src="{% static 'images/Group 9.svg' %}" alt="">
        </div>
    
        <div id="bg-ilust2">
            <img src="{% static 'images/Group 8.svg' %}" alt="">
        </div>
    </div>
{% endblock %}