{% extends "base.html" %}

{% load purchase_extras %}

{% block title %} Resúmen de fondos {% endblock %}


{% block content %}

<h1 id="list-title">Resúmen de fondos:</h1>

<div class="info-container">
    <div class="title-movement-card">
        <div id="card-row-1">
            <h2 id="title-client-tag">Tipo:</h2>
            <h2 id="title-client-tag"> Monto:</h2>
        </div>
    </div>
    <div class="title-movement-card">
        <div id="card-row-1">
            <h2 id="client-tag">Fondos caja:</h2>
            <h2 id="client-total-tag"> {{ cash_total | floatformat:2 | currency}}</h2>
        </div>
    </div>
    <div class="title-movement-card">
        <div id="card-row-1">
            <h2 id="client-tag">Fondos banco:</h2>
            <h2 id="client-total-tag"> {{trans_total | floatformat:2 | currency}}</h2>
        </div>
    </div>
</div>

{% endblock %}