{% extends 'base.html' %}

{% block content %}
<div id="info-container">
    <div id="list-title">
        Modificar fondos a mano:
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div id="wrapper">
            <div class="title-movement-card">
                <div id="card-row-1">
                    <h2 id="title-client-tag">Acción:</h2>
                    <h2 id="title-client-tag">Tipo:</h2>
                    <h2 id="title-client-tag">Monto:</h2>
                </div>
            </div>
            <div class="title-movement-card">
                <div id="card-row-1">
                    <h2 id="title-client-tag">{{move_form.action}}</h2>
                    <h2 id="title-client-tag">{{move_form.tipo}}</h2>
                    <h2 id="title-client-tag">{{move_form.monto}}</h2>
                </div>
            </div>
        </div>
        <input type="submit" value="Modificar" id="form-create-btn">
    </form>
</div>
{% endblock %}