{% extends 'base.html' %}

{% block content %}
<div id="info-container">
    <h1 id="list-title">Cheque:</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ third_p_form.content_type.as_hidden }}
        {{ third_p_form.object_id.as_hidden }}
        <div id="form-wrapper">
            <div id="small-wrapper">
                <div class="create-section">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-tractor"></i>Acción:</h3>
                        <h2 id="title-client-tag">{{move_form.action}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-list-ol"></i>Tipo:</h3>
                        <h2 id="title-client-tag">{{move_form.tipo}}</h2>
                    </div>
                </div>
                <div class="create-section">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-mountain"></i>Monto:</h3>
                        <h2 id="title-client-tag">{{move_form.monto}}</h2>
                    </div>
                </div>
                {{third_p_form.errors}}
            </div>
            <input type="submit" value="Crear" id="create-btn">
        </div>
    </form>
</div>
{% endblock %}