{% extends "base.html" %}

{% load purchase_extras %}

{% block title %} Detalle del Cheque {% endblock %}

{% block content %}

<div class="info-container">

    <h1 id="list-title">Viendo cheque: {{third_p_check}}</h1>
    <div id="wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Fecha ingreso</h2>
                <h2 id="title-client-tag">Cliente</h2>
                <h2 id="title-client-tag">Fecha depósito</h2>
                <h2 id="title-client-tag">Monto</h2>
            </div>
        </div>
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{ third_p_check.fecha_ingreso.day }} / {{ third_p_check.fecha_ingreso.month }} /
                    {{third_p_check.fecha_ingreso.year }}</h2>
                <h2 id="client-tag">{{ third_p_check.cliente | capfirst }}</h2>
                <h2 id="client-tag">{{ third_p_check.fecha_deposito.day }} / {{ third_p_check.fecha_deposito.month }} /
                    {{ third_p_check.fecha_deposito.year }}</h2>
                <h2 id="client-total-tag">{{third_p_check.monto | currency}}</h2>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Número cheque</h2>
                <h2 id="title-client-tag">Banco de emisión</h2>
                <h2 id="title-client-tag">Titular cheque</h2>
                <h2 id="title-client-tag">Estado</h2>
            </div>
        </div>
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{ third_p_check.numero_cheque}}</h2>
                <h2 id="client-tag">{{ third_p_check.banco_emision | capfirst}}</h2>
                <h2 id="client-tag">{{third_p_check.titular_cheque | capfirst}}</h2>
                <h2 id="client-tag">{{third_p_check.estado | capfirst}}</h2>
            </div>
        </div>
    </div>
    <div id="top-forms">
        {% if third_p_check.estado != 'endosado' %}
        <form method="post" id="change-state-form" action="">
            {% csrf_token %}
            {{ change_state_form.field.as_hidden }}
            <input type="button" id="change-state-btn" value="Cambiar estado">
            <input type="hidden" name="change_state_token" value="1">
        </form>
        {% endif %}
        {% if third_p_check.estado != 'endosado' %}



        {% endif %}
        <form method="post" id="delete-form" action="">
            {% csrf_token %}
            {{ detroy_object_form.field.as_hidden }}
            <input type="button" id="delete-btn" value="Eliminar cheque">
            <input type="hidden" name="delete_token" value="1">
        </form>
    </div>

</div>
<script>

    var inputElement = document.getElementById("delete-btn")
    inputElement.addEventListener("click", function () {
        if (confirm('Si elimina el cheque se descontará su total del pago de la venta así como el endoso en una compra/gasto si existe. Será redireccionado a la venta vinculada.')) {
            document.getElementById("delete-form").submit()
        } else {
            return false;
        }
    })

    var changeInput = document.getElementById("change-state-btn")
    changeInput.addEventListener("click", function () {
        if (confirm('Cambiar el estado del cheque?')) {
            document.getElementById("change-state-form").submit()
        } else {
            return false;
        }
    })
</script>
{% endblock %}