{% extends "base.html" %}

{% load purchase_extras %}

{% block title %} Detalle del Cheque {% endblock %}

{% block content %}

<div class="info-container">
    <div id="wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Fecha ingreso</h2>
                <h2 id="title-client-tag">Cliente</h2>
                <h2 id="title-client-tag">Fecha depósito</h2>
                <h2 id="title-client-tag">Monto</h2>
            </div>
        </div>
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{ third_p_check.fecha_ingreso.day }} / {{ third_p_check.fecha_ingreso.month }} / {{ third_p_check.fecha_ingreso.year }}</h2>
                <h2 id="client-tag">{{ third_p_check.cliente | capfirst }}</h2>
                <h2 id="client-tag">{{ third_p_check.fecha_deposito.day }} / {{ third_p_check.fecha_deposito.month }} / {{ third_p_check.fecha_deposito.year }}</h2>
                <h2 id="client-total-tag">{{third_p_check.monto | currency}}</h2>
            </div>
        </div>        
    </div>
    <div id="wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Número cheque</h2>
                <h2 id="title-client-tag">Banco de emisión</h2>
                <h2 id="title-client-tag">Titular cheque</h2>
                <h2 id="title-client-tag">Estado</h2>
            </div>
        </div>
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{ third_p_check.numero_cheque}}</h2>
                <h2 id="client-tag">{{ third_p_check.banco_emision | capfirst}}</h2>
                <h2 id="client-tag">{{third_p_check.titular_cheque | capfirst}}</h2>
                <h2 id="client-tag">{{third_p_check.estado | capfirst}}</h2>        
            </div>
        </div>
    </div>
    {% if third_p_check.estado != 'endosado' %}
    <div id="top-buttons">
        <form method="post" onsubmit="return confirm('Confirme el cambio de estado.')">
            {% csrf_token %}
            {{ change_state_form.field.as_hidden }}
            <input type="submit" id="change-state-btn" value="Cambiar estado">
        </form>
    </div>
    {% endif %}
</div>    
{% endblock %}