{% extends "base.html" %}

{% load purchase_extras %}

{% block title %}Ventas{% endblock %}

{% block content %}
    <div class="info-container" >
        <div id="wrapper">
            <div class="title-movement-card">
                <div id="card-row-1">
                    <h2 id="title-client-tag">Ventas totales:</h2>
                    <h2 id="title-client-tag">Ventas por pagar:</h2>
                    <h2 id="title-client-tag">Monto por pagar:</h2>              
                </div>
            </div>
            <div class="movement-card">
                <div id="card-row-1">
                    <h2 id="client-tag">{{ total_sales }}</h2>
                    <h2 id="client-tag">{{ total_unpayed_sales }}</h2>
                    <h2 id="client-total-tag">{{ amount_to_receive_total | currency }}</h2>               
                </div>
            </div>
        </div>    
        <h1 id="list-title">Historial de Ventas:</h1>    
        {% if sales %}
                    <div class="title-movement-card">
                        <div id="card-row-1">
                            <h2 id="title-client-tag">Cliente:</h2>
                            <h2 id="title-date-tag">Fecha:</h2>
                            <h2 id="title-state-tag">Estado:</h2>              
                            <h2 id="title-total-tag">Total venta:</h2>
                        </div>
                    </div>
        {% endif %}
        {% for sale in sales %}
            <a href="{{ sale.get_absolute_url }}">
                <div class="movement-card">
                    <div id="card-row-1">
                        <h2 id="client-tag">{{ sale.client }}</h2>
                        <h2 id="date-tag"> {{ sale.date.day }}/{{ sale.date.month }}/{{ sale.date.year }} </h2>
                        {% if sale.status == 'por cobrar' %}
                            <h2 id="status-tag">{{ sale.status | capfirst}}</h2>
                        {% else %}
                            <h2 id="status-done-tag">{{ sale.status | capfirst}}</h2>
                        {% endif %}
                        <h2 id="total-sale-tag">Total: {{ sale.calculate_total | floatformat:2 | currency }}</h2>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>
{% endblock %}