{% extends 'base.html' %}
{% load static %}
{% block title %}Búsqueda{% endblock %}
{% block content %}

    {% if query %}
        <div id="section-title">
            <h1 id="list-title">Filtrando por: "{{ query }}"</h1>
            <h1 id="list-title"><a href="{% url 'sales:sale_search' %}" class="page-link">Buscar de nuevo</a></h1>
        </div>
    <div class="list-container" >

        {% for sale in results %}
            <a href="{{ sale.get_absolute_url }}">
                <div class="movement-card">
                    <div id="card-row-1">
                        <h2 id="client-tag">{{ sale.client }}</h2>
                        <h2 id="date-tag">{{ sale.date.day }}/{{ sale.date.month }}/{{ sale.date.year }} </h2>
                    </div>
                    <div id="card-row-2">
                        <h2 id="status-tag">{{ sale.status }}</h2>
                        <h2 id="total-tag">Total: ${{ sale.total }}</h2>
                    </div>
                </div>
            </a>
        {% empty %}
            <div id="section-title">
                <h1>No hay resultados para la búsqueda.</h1>
            </div>
        {% endfor %}
    </div>
        
    {% else %}
        <div id="content-wrapper">
            <div id="create-form-box">
                <h1>Filtre sus ventas: </h1>
                <h6>(Nombre del Comprador o año)</h6>
                <form action="." method="get">
                    <div class="create-element">
                        <i class="fas fa-search"></i> {{ form.query }} 
                    </div>
                    <p><input type="submit" value="Filtrar" id="form-btn"></p>
                </form>
            </div>
        </div>    
    {% endif %}

{% endblock %}