{% extends "base.html" %}

{% load purchase_extras %}

{% block content %}

<div class="info-container">

    <h1 id="list-title">Viendo Lote: {{lote}}</h1>
    <h1 id="total-list-title">Margen Bruto Lote: {{lote_total | floatformat:2 | usd_currency}}</h1>
    <div id="wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Campo:</h2>
                <h2 id="title-client-tag">Lote número:</h2>
                <h2 id="title-client-tag">Hectáreas:</h2>
                <h2 id="title-client-tag">Tipo:</h2>
            </div>
        </div>
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{lote.campo | capfirst}}</h2>
                <h2 id="client-tag">{{ lote.numero }}</h2>
                <h2 id="client-tag">{{ lote.hectareas}}</h2>
                <h2 id="client-tag">{{ lote.tipo | capfirst}}</h2>
            </div>
        </div>
    </div>

    <div id="list-title">
        Costos por tipo de aplicación:
    </div>

    <div id="wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Tipo:</h2>
                <h2 id="title-client-tag">- - -</h2>
                <h2 id="title-client-tag">- - -</h2>
                <h2 id="title-client-tag">Total USD:</h2>
            </div>
        </div>
        {% for tipo,total in application_totals_by_type.items %}
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{tipo | capfirst}}</h2>
                <h2 id="client-tag">- - -</h2>
                <h2 id="client-tag">- - -</h2>
                <h2 id="client-total-tag">{{ total | floatformat:2 | usd_currency }}</h2>
            </div>
        </div>
        {% endfor %}
        <div class="title-movement-card">
            <div id="total-card-row">
                <h2 id="title-client-tag">Total aplicaciones:</h2>
                <h2 id="client-tag">- - -</h2>
                <h2 id="client-tag">- - -</h2>
                <h2 id="client-total-tag">{{ applications_total | usd_currency}}</h2>
            </div>
        </div>

    </div>
    <div id="list-title">
        Costos por labores:
    </div>

    <div id="wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Tipo:</h2>
                <h2 id="title-client-tag">- - -</h2>
                <h2 id="title-client-tag">- - -</h2>
                <h2 id="title-client-tag">Total USD:</h2>
            </div>
        </div>
        {% for tipo,total in labors_totals_by_type.items %}
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{tipo | capfirst}}</h2>
                <h2 id="client-tag">- - -</h2>
                <h2 id="client-tag">- - -</h2>
                <h2 id="client-total-tag">{{ total | floatformat:2 | usd_currency }}</h2>
            </div>
        </div>
        {% endfor %}
        <div class="title-movement-card">
            <div id="total-card-row">
                <h2 id="title-client-tag">Total Labores:</h2>
                <h2 id="client-tag">- - -</h2>
                <h2 id="client-tag">- - -</h2>
                <h2 id="client-total-tag">{{ labors_total | usd_currency}}</h2>
            </div>
        </div>

    </div>
    <div id="list-title">
        Aplicaciones:
    </div>
    <div id="wrapper">

        {% for key1,value1 in applications_dict.items %}

        <div id="wrapper-list-title">
            Aplicación nro {{key1}}:
        </div>
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Producto</h2>
                <h2 id="title-client-tag">Litros / kg</h2>
                <h2 id="title-client-tag">Sub total USD</h2>
                <h2 id="title-client-tag">USD X Lt o Kg</h2>
                <h2 id="title-client-tag">Tipo</h2>
            </div>
        </div>
        {% for key2, value2 in value1.items %}
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{key2.producto | capfirst}}</h2>
                <h2 id="client-tag">{{key2.lt_kg}}</h2>
                {% for value in value2 %}
                <h2 id="client-total-tag">{{value | floatformat:2 | usd_currency}}</h2>
                {% endfor %}
                <h2 id="client-tag">{{key2.tipo | capfirst}}</h2>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>


    <div id="list-title">
        Labores
    </div>

    <div id="wrapper">
        {% for key1,value1 in labors_dict.items %}
        <div id="wrapper-list-title">
            Aplicación nro {{key1}}:
        </div>
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Nombre</h2>
                <h2 id="title-client-tag">USD X ha:</h2>
                <h2 id="title-client-tag">Sub total USD</h2>
            </div>
        </div>
        {% for key2, value2 in value1.items %}
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{key2.nombre | capfirst}}</h2>
                <h2 id="client-total-tag">{{key2.costo_ha | floatformat:2 | usd_currency}}</h2>
                <h2 id="client-total-tag">{{value2 | floatformat:2 | usd_currency}}</h2>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>


    <div id="list-title">
        Agregar aplicación:
    </div>
    <form method="post" action=".">
        {% csrf_token %}
        <div id="wrapper">
            <div class="title-movement-card">
                <div id="card-row-1">
                    <h2 id="title-client-tag">Número de aplicación:</h2>
                    <h2 id="title-client-tag">Producto:</h2>
                    <h2 id="title-client-tag">Litros / Kg:</h2>
                    <h2 id="title-client-tag">Tipo:</h2>
                </div>
            </div>
            <div class="title-movement-card">
                <div id="card-row-1">
                    <h2 id="title-client-tag">{{application_form.numero}}</h2>
                    <h2 id="title-client-tag">{{application_form.producto}}</h2>
                    <h2 id="title-client-tag">{{application_form.lt_kg}}</h2>
                    <h2 id="title-client-tag">{{application_form.tipo}}</h2>
                </div>
            </div>
        </div>
        <input type="submit" value="Agregar" id="form-create-btn">
    </form>

    <div id="list-title">
        Agregar labor:
    </div>
    <form method="post" action=".">
        {% csrf_token %}
        <div id="wrapper">
            <div class="title-movement-card">
                <div id="card-row-1">
                    <h2 id="title-client-tag">Número de aplicación:</h2>
                    <h2 id="title-client-tag">Costo x ha USD:</h2>
                    <h2 id="title-client-tag">Nombre labor:</h2>
                </div>
            </div>
            <div class="title-movement-card">
                <div id="card-row-1">
                    <h2 id="title-client-tag">{{labors_form.numero}}</h2>
                    <h2 id="title-client-tag">{{labors_form.costo_ha}}</h2>
                    <h2 id="title-client-tag">{{labors_form.nombre}}</h2>
                </div>
            </div>
        </div>
        <input type="submit" value="Agregar" id="form-create-btn">
    </form>
</div>

{% endblock %}