{% extends "base.html" %}

{% load purchase_extras %}

{% load humanize %}

{% block title %} Promedio de productos {% endblock %}

{% block content %}
<div class="info-container">
    {% if campaña %}
    <div id="list-title">
        Promedio de precios para campaña: "{{campaña | capfirst}}"
    </div>

    <div class="title-movement-card">
        <div id="card-row-1">
            <h2 id="title-client-tag">Producto</h2>
            <h2 id="title-client-tag">Promedio USD:</h2>
            <h2 id="title-client-tag">Promedio Pesos:</h2>
        </div>
    </div>
    {% for key1,value1 in product_dict.items %}
    <div class="title-movement-card">
        <div id="card-row-1">
            <h2 id="client-tag">{{key1 | capfirst}}</h2>
            <h2 id="client-total-tag">{{ value1.0 | floatformat:2 | usd_currency}} </h2>
            <h2 id="client-total-tag">${{ value1.1 | intcomma}} </h2>
        </div>
    </div>

    {% endfor %}
    {% else %}
    <div id="list-title">
        No tiene campañas registradas. <a href="{% url 'land:campaign_create' %}" class="page-link">Crear
            campaña.</a>
    </div>
    {% endif %}
</div>
<div class="actions-sidebar">

    <div id="actions">
        <div id="action">
            <div id="action-section">
                Precios promedio
            </div>
            <h3 id="update-description">
                Los precios promedio se calculan promediando todas las compras de un producto en la campaña
                seleccionada.
            </h3>
        </div>
    </div>
</div>



{% endblock %}