{% extends "base.html" %}

{% block title %} Crear compra {% endblock %}

{% block content %}
<div class="info-container">
    <div id="list-title">
        Editar compra:
    </div>
    <form action="." method="post">
        {% csrf_token %}

        <div id="form-wrapper">
            <div id="small-wrapper">
                <div class="create-section-horizontal">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-tractor"></i>Campo:</h3>
                        <h2 id="title-client-tag">{{sowing_p_form.campo}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-receipt"></i>Factura (opcional):</h3>
                        <h2 id="title-client-tag">{{sowing_p_form.factura}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-user"></i>Proveedor:
                        </h3>
                        <h2 id="title-client-tag">{{sowing_p_form.proveedor}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-vial"></i>Producto:</h3>
                        <h2 id="title-client-tag">{{sowing_p_form.producto}}</h2>
                    </div>
                </div>
            </div>
            <div id="small-wrapper">
                <div class="create-section-horizontal">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-money-bill-wave"></i>Precio lt/kg usd:</h3>
                        <h2 id="title-client-tag">{{sowing_p_form.precio_lt_kg_usd}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-weight-hanging"></i>Litros o Kg
                        </h3>
                        <h2 id="title-client-tag">{{sowing_p_form.lt_kg}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-hand-holding-dollar"></i>Tipo cambio:</h3>
                        <h2 id="title-client-tag">{{sowing_p_form.tipo_cambio}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-percent"></i>IVA (opcional):
                        </h3>
                        <h2 id="title-client-tag">{{sowing_p_form.iva}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" value="Crear" id="create-btn">
    </form>
</div>
<div class="actions-sidebar">

    <div id="actions">
        <div id="action">
            <div id="action-section">
                Cambiar compra
            </div>
            <h3 id="update-description">
                Recuerde que al editar la compra se eliminan los pagos anteriormente registrados en la misma y se
                desendosan los cheques endosados.
            </h3>
        </div>
    </div>
</div>
{% endblock %}