{% extends "base.html" %}

{% load purchase_extras %}

{% block title %} Detalle de la compra {% endblock %}

{% block content %}
<div class="info-container">

    <h1 id="list-title">Viendo compra: {{sowing_purchase}}</h1>
    {% if sowing_purchase.estado == 'por pagar' %}
    <h1 id="total-list-title">Total por pagar: {{ sowing_purchase.calculate_amount_to_pay | currency}}</h1>
    {% endif %}

    <div id="wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Fecha:</h2>
                <h2 id="title-client-tag">Campo:</h2>
                <h2 id="title-client-tag">Factura:</h2>
                <h2 id="title-client-tag">Proveedor:</h2>
                <h2 id="title-client-tag">Precio por lt/kg USD:</h2>
                <h2 id="title-client-tag">Precio por lt/kg</h2>
                <h2 id="title-client-tag">Lt / KG</h2>
            </div>
        </div>
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{ sowing_purchase.date.day }} / {{ sowing_purchase.date.month }} /
                    {{sowing_purchase.date.year }}</h2>
                <h2 id="client-tag">{{ sowing_purchase.campo }}</h2>
                {% if sowing_purchase.factura %}
                <h2 id="client-tag">{{ sowing_purchase.factura }}</h2>
                {% else %}
                <h2 id="client-tag"> - - - </h2>
                {% endif %}
                <h2 id="client-tag">{{ sowing_purchase.proveedor }}</h2>
                <h2 id="client-tag">{{ sowing_purchase.precio_lt_kg_usd | floatformat:2 | usd_currency }}</h2>
                <h2 id="client-tag">{{ precio_lt_kg | currency}}</h2>
                <h2 id="client-tag">{{ sowing_purchase.lt_kg | floatformat:2}}</h2>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Producto:</h2>
                <h2 id="title-client-tag">Subtotal:</h2>
                <h2 id="title-client-tag">Tipo de cambio:</h2>
                <h2 id="title-client-tag">IVA</h2>
                <h2 id="title-client-tag">Total USD:</h2>
                <h2 id="title-client-tag">Total Pesos:</h2>
                <h2 id="title-client-tag">Estado:</h2>
            </div>
        </div>
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{ sowing_purchase.producto }}</h2>
                <h2 id="client-tag">{{ sub_total_usd | floatformat:2 | usd_currency }}</h2>
                <h2 id="client-tag">{{ sowing_purchase.tipo_cambio | floatformat:2 | currency}}</h2>
                {% if sowing_purchase.iva %}
                <h2 id="client-tag">{{ sowing_purchase.iva | percentage }}</h2>
                {% else %}
                <h2 id="client-tag">- - -</h2>
                {% endif %}
                <h2 id="client-tag">{{ total_usd | floatformat:2 | usd_currency }}</h2>
                <h2 id="client-tag">{{ sowing_purchase.calculate_total | floatformat:2 | currency}}</h2>
                <h2 id="client-tag">{{ sowing_purchase.estado | capfirst}}</h2>
            </div>
        </div>
    </div>

    {%if payments or self_checks or endorsed_checks %}
    <h1 id="list-title">Pagos:</h1>
    <div class="title-movement-card">
        <div id="card-row-1">
            <h2 id="title-client-tag">Tipo:</h2>
            <h2 id="title-client-tag">Fecha:</h2>
            <h2 id="title-client-tag">Total:</h2>
        </div>
    </div>
    {% for payment in payments %}
    <a href="{{ payment.get_absolute_url }}">
        <div class="movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{ payment.tipo | capfirst}}</h2>
                <h2 id="client-tag"> {{ payment.date.day }}/{{ payment.date.month }}/{{ payment.date.year }} </h2>
                <h2 id="client-total-tag">Total: {{ payment.monto | floatformat:2 | currency }}</h2>
            </div>
        </div>
    </a>
    {% endfor %}
    {% for check in self_checks %}
    <div class="movement-card">
        <div id="card-row-1">
            <h2 id="client-tag"> Cheque </h2>
            <h2 id="client-tag"> {{ check.fecha_salida.day }}/{{ check.fecha_salida.month }}/{{ check.fecha_salida.year
                }} </h2>
            <h2 id="client-total-tag">Total: {{ check.monto | floatformat:2 | currency }}</h2>
        </div>
    </div>
    {% endfor %}
    {% for check in endorsed_checks %}
    <a href="{{ check.get_absolute_url }}">
        <div class="movement-card">
            <div id="card-row-1">
                <h2 id="client-tag"> Endosado </h2>
                <h2 id="client-tag"> {{ check.fecha_ingreso.day }}/{{ check.fecha_ingreso.month }}/{{
                    check.fecha_ingreso.year }} </h2>
                <h2 id="client-total-tag">Total: {{ check.monto | floatformat:2 | currency }}</h2>
            </div>
        </div>
    </a>
    {% endfor %}
    {% endif %}

    {% if sowing_purchase.estado == 'por pagar' %}
    <h1 id="list-title">Agregar Pagos:</h1>
    <form method="post" action=".">
        <div id="litte-wrapper">
            {% csrf_token %}
            {{ payment_form.content_type.as_hidden }}
            {{ payment_form.object_id.as_hidden }}
            <div class="title-movement-card">
                <h1 id="payment-title">Efectivo o Transferencia:</h1>
            </div>
            <div class="title-movement-card">
                <div id="card-row-1">
                    <h2 id="title-client-tag">Tipo:</h2>
                    <h2 id="title-client-tag">Monto:</h2>
                </div>
            </div>
            <div class="title-movement-card">
                <div id="card-row-1">
                    <h2 id="title-client-tag">{{payment_form.tipo}}</h2>
                    <h2 id="title-client-tag">{{payment_form.monto}}</h2>
                </div>
            </div>
        </div>
        <input type="submit" value="Agregar" id="form-create-btn">
    </form>
    <form method="post" action=".">
        <div id="wrapper">
            {% csrf_token %}
            {{ self_check_form.content_type.as_hidden }}
            {{ self_check_form.object_id.as_hidden }}
            <div class="title-movement-card">
                <h1 id="payment-title">Cheque:</h1>
            </div>
            <div class="title-movement-card">
                <div id="card-row-1">
                    <h2 id="title-client-tag">Fecha pago:</h2>
                    <h2 id="title-client-tag">Banco Emisión:</h2>
                    <h2 id="title-client-tag">Número Cheque:</h2>
                    <h2 id="title-client-tag">Titular Cheque:</h2>
                    <h2 id="title-client-tag">Monto:</h2>
                </div>
            </div>
            <div class="title-movement-card">
                <div id="card-row-1">
                    <h2 id="title-client-tag">{{self_check_form.fecha_pago}}</h2>
                    <h2 id="title-client-tag">{{self_check_form.banco_emision}}</h2>
                    <h2 id="title-client-tag">{{self_check_form.numero_cheque}}</h2>
                    <h2 id="title-client-tag">{{self_check_form.titular_cheque}}</h2>
                    <h2 id="title-client-tag">{{self_check_form.monto}}</h2>
                    {{self_check_form.errors}}
                </div>
            </div>
        </div>
        <input type="submit" value="Agregar" id="form-create-btn">
    </form>
    {% if third_p_checks %}
    <h1 id="list-title">Endosar Cheques:</h1>
    <div class="title-movement-card">
        <div id="card-row-1">
            <h2 id="title-client-tag">Cliente:</h2>
            <h2 id="title-client-tag">Fecha:</h2>
            <h2 id="title-client-tag">Total:</h2>
            <h2 id="title-client-tag">Endosar:</h2>
        </div>
    </div>
    {% for check in third_p_checks %}
    <form method="post" onsubmit="return confirm('Confirme el endoso del cheque')">
        {% csrf_token %}
        {{ endorsed_checks_form.content_type.as_hidden }}
        {{ endorsed_checks_form.object_id.as_hidden }}
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{ check.cliente | capfirst}}</h2>
                <h2 id="client-tag"> {{ check.fecha_ingreso.day }}/{{ check.fecha_ingreso.month }}/
                    {{check.fecha_ingreso.year }} </h2>
                <h2 id="client-total-tag">Total: {{ check.monto | floatformat:2 | currency }}</h2>
                <input type="submit" id="endose-tag" value="Endosar">
                <input type="hidden" name="check_id" value="{{ check.id }}">
            </div>
        </div>
    </form>
    {% endfor %}
    {% endif %}
    {% endif %}

</div>
{% endblock %}