{% extends "base.html" %}

{% block title %} Agregar Lote {% endblock %}

{% block content %}
<div class="info-container">
    {% if campos %}
    <div id="list-title">
        Agregar Lote
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div id="form-wrapper">
            <div id="small-wrapper">
                <div class="create-section">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-tractor"></i>Campo:</h3>
                        <h2 id="title-client-tag">{{lote_form.campo}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-list-ol"></i>Número de lote:</h3>
                        <h2 id="title-client-tag">{{lote_form.numero}}</h2>
                    </div>
                </div>
                <div class="create-section">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-mountain"></i>Hectáreas:</h3>
                        <h2 id="title-client-tag">{{lote_form.hectareas}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-file-image"></i>Tipo de lote:
                        </h3>
                        <h2 id="title-client-tag">{{lote_form.tipo}}</h2>
                    </div>
                    {{lote_form.errors}}
                </div>
            </div>
            <input type="submit" value="Crear" id="create-btn">
        </div>
    </form>
    {% else %}
    <div id="list-title">
        No tiene campos registrados. <a href="{% url 'land:land_create' %}" class="page-link">Registrar campo.</a>
    </div>
    {% endif %}
</div>
{% endblock %}