{% extends "base.html" %}

{% block title %} Crear compra {% endblock %}

{% block content %}
<div class="info-container">
    <div id="list-title">
        Agregar compra:
    </div>

    <form action="." method="post">
        {% csrf_token %}

        <div id="form-wrapper">
            <div id="small-wrapper">
                <div class="create-section">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-receipt"></i>Factura (opcional):</h3>
                        <h2 id="title-client-tag">{{sowing_p_form.factura}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-user"></i>Proveedor:
                        </h3>
                        <h2 id="title-client-tag">{{sowing_p_form.proveedor}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-dollar"></i>Total:
                        </h3>
                        <h2 id="title-client-tag">{{sowing_p_form.total}}</h2>
                    </div>
                </div>
                <div class="create-section">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-hand-holding-dollar"></i>Tipo cambio:</h3>
                        <h2 id="title-client-tag">{{sowing_p_form.tipo_cambio}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-percent"></i>IVA (opcional):
                        </h3>
                        <h2 id="title-client-tag">{{sowing_p_form.iva}}</h2>
                    </div>

                </div>
            </div>
            <input type="submit" value="Crear" id="create-btn">
        </div>
    </form>
</div>
{% endblock %}