{% extends "base.html" %}

{% load purchase_extras %}

{% block title %} Resúmen de gastos {% endblock %}

{% block content %}

    <div id="top-buttons">
        <div id="section-button">
            <a href="{% url 'expenses:expenses_list' %}">
                <h2 id="search-btn">Ver Historial</i></h2>
            </a>
        </div>
        <div id="section-button">
            <a href="{% url 'expenses:expense_create' %}">
                <h2 id="add-btn">Agregar gasto <i class="fas fa-plus"></i></h2>
            </a>
        </div>
    </div>

    <div id="section-title">
        <h1>Resúmen de gastos:</h1>
    </div>

    <div class="list-container" >
        <div id="purchase-main-info">
            <div id="info-title">
                <h1>Categoría</h1>
                    <div id="info-item">Total:</div>                
            </div>
            {% for name, category_total in expenses_names_and_totals %}
            <div id="info-title">
                <h1>{{ name | capfirst}}</h1>
                    <div id="info-item">{{ category_total | currency }}</div>                
            </div>
            {% endfor %}
        </div>
        <!--Diccionario de gastos por categoría y descripción-->
        <h1 id="list-title">Resúmen por categoría:</h1>
        {% for key1,value1 in expenses_dict.items %}
            {% if value1 %}
            <a href="{% url 'expenses:expenses_list' key1 %}">
                <div class="movement-card">
                    <div id="card-row-1">
                        <h2 id="client-tag">{{ key1 | capfirst}}</h2>
                        <h2 id="date-tag"> --- </h2>                    
                    </div>
                    <hr>
                    {% for key2,value2 in value1.items %}
                    <div id="card-row-2">
                        <h2 id="category-tag">{{ key2 | capfirst}}</h2>
                        <h2 id="total-tag">Total: {{ value2 | currency}}</h2>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </a>
            {% endif %}
        {% endfor %}
        <!--Diccionario de gastos por categoría y descripción-->
    </div>

{% endblock %}