{% extends 'base.html' %}

{% load purchase_extras %}

{% block title %} Crear Gasto {% endblock %}

{% block content %}
<div id="info-container">
    <div id="list-title">
        Agregar gasto:
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div id="wrapper">
            <div class="title-movement-card">
                <div id="card-row-1">
                    <h2 id="title-client-tag">Campo:</h2>
                    <h2 id="title-client-tag">Concepto:</h2>
                    <h2 id="title-client-tag">Categoría:</h2>
                    <h2 id="title-client-tag">Monto:</h2>
                    <h2 id="title-client-tag">Descripción:</h2>
                </div>
            </div>
            <div class="title-movement-card">
                <div id="card-row-1">
                    <h2 id="title-client-tag">{{expense_form.campo}}</h2>
                    <h2 id="title-client-tag">{{expense_form.concepto}}</h2>
                    <h2 id="title-client-tag">{{expense_form.categoria}}</h2>
                    <h2 id="title-client-tag">{{expense_form.monto}}</h2>
                    <h2 id="title-client-tag">{{expense_form.descripcion}}</h2>
                </div>
            </div>
        </div>
        <input type="submit" value="Agregar" id="form-create-btn">
    </form>
</div>

{% endblock %}