{% extends "base.html" %}

{% load purchase_extras %}

{% block content %}

    <div id="section-title">
        <h1>Viendo gasto: {{ expense }}</h1>
        {% if expense.status == 'por pagar' %}
            <h2 id="total-tag">Total por pagar: {{ expense.calculate_amount_to_pay | currency}}</h2>
        {% else %}
            <h2 id="total-tag">Pagado</h2>
        {% endif %}
    </div>

    <div class="info-container">
        <div id="purchase-main-info">           
            <div id="info-title">
                <h1>Fecha</h1>
                <div id="info-item">{{ expense.date.day }} / {{ expense.date.month }} / {{ expense.date.year }}</div>
            </div>
            <div id="info-title">
                <h1>Categoría</h1>
                <div id="info-item">{{ expense.categoria | capfirst}}</div>
            </div>
            <div id="info-title">
                <h1>Concepto</h1>
                <div id="info-item">{{ expense.concepto | capfirst}}</div>
            </div>
            <div id="info-title">
                <h1>Descripción</h1>
                <div id="info-item"> {{ expense.descripcion | capfirst}}</div>
            </div>
            <div id="info-title">
                <h1>Monto </h1>
                <div id="info-item">{{ expense.monto | currency}}</div>
            </div>
            <div id="info-title">
                <h1>Estado</h1>
                <div id="info-item">{{ expense.status | capfirst }}</div>
            </div>
        </div>

        <h1 id="list-title">Pagos:</h1>
        {%if payments%}
            {% for payment in payments %}
                <div class="movement-card">
                    <div id="card-row-1">
                        <h2 id="client-tag">{{ payment.tipo | capfirst}}</h2>
                        <h2 id="date-tag"> {{ payment.date.day }}/{{ payment.date.month }}/{{ payment.date.year }} </h2>
                    </div>
                    <div id="card-row-2">
                        <h2 id="total-tag">Total: {{ payment.monto | floatformat:2 | currency }}</h2>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if expense.status == 'por pagar' %}
        <h1 id="list-title">Agregar Pagos:</h1>
        <div id="create-form-box">
            <h4>Efectivo o transferencia:</h4>
            <form method="post" action=".">
                {% csrf_token %}
                {{ payment_form.content_type.as_hidden }}
                {{ payment_form.object_id.as_hidden }}
                <div id="create-wrapper">
                    <div class="create-element">
                        <h3>Monto:</h3>
                        {{payment_form.monto}}
                    </div>
                    <div class="create-element">
                        <h3>Tipo:</h3>
                        {{payment_form.tipo}}
                    </div>
                </div>                
               <p><input type="submit" value="Añadir Pago" id="create-btn"></p> 
            </form>
        </div>        
        {% endif %}
    </div>
{% endblock %}