{% extends 'base.html' %}

{% load purchase_extras %}

{% block title %} Crear Gasto {% endblock %}

{% block content %}
    <div class="info-container">
        <div id="create-form-box">
            <h2 id="step-text">Registro de gasto: </h2>
            <form action="" method="post">
                {% csrf_token %}
                <div id="create-wrapper">
                    <div class="create-element">
                        <h3>Campo:</h3>
                        {{expense_form.campo}}
                    </div>
                    <div class="create-element">
                        <h3>Concepto:</h3>
                        {{expense_form.concepto}}
                    </div>
                    <div class="create-element">
                        <h3>Monto:</h3>
                        {{expense_form.monto}}
                    </div>
                    <div class="create-element">
                        <h3>Descripción:</h3>
                        {{expense_form.descripcion}}
                    </div>
                    <div class="create-element">
                        <h3>Categoría:</h3>
                        {{expense_form.categoria}}
                    </div>
                </div>
                <p><input type="submit" value="Crear" id="create-btn"/> </p> 
            </form>
        </div>
        <h1 id="list-title">Últimos 3 gastos:</h1>
        {% for object in last_3_expenses %}
            <!--<a href="{{ object.get_absolute_url }}">-->
                <div class="movement-card">
                    <div id="card-row-1">
                        <h2 id="client-tag">{{ object.categoria | capfirst}}</h2>
                        <h2 id="date-tag"> {{ object.date.day }}/{{ object.date.month }}/{{ object.date.year }} </h2>
                    </div>
                    <div id="card-row-2">
                        <h2 id="status-tag">{{ object.status | capfirst}}</h2>
                        <h2 id="total-tag">Total: {{ object.monto | floatformat:2 | currency }}</h2>
                    </div>
                </div>
            <!--</a>-->
        {% endfor %}
    </div>
{% endblock %}