{% extends "base.html" %}

{% load purchase_extras %}

{% block title %} Resúmen de gastos {% endblock %}

{% block content %}

<h1 id="list-title">Resúmen de gastos:</h1>

<div class="info-container">
    <div id="wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Categoría:</h2>
                {% for name in category_names %}
                <h2 id="title-client-tag">{{ name | capfirst }}</h2>
                {% endfor %}
            </div>
        </div>
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">Total:</h2>
                {% for total in expense_category_totals %}
                <h2 id="client-tag">{{ total | currency}}</h2>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--Diccionario de gastos por categoría y descripción-->
    <h1 id="list-title">Resúmen por categoría:</h1>
    {% for key1,value1 in expenses_dict.items %}
    {% if value1 %}
    <div id="section-title">
        <h1> {{key1 | capfirst}}</h1>
    </div>
    <div id="expense-wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Tipo:</h2>
                <h2 id="title-total-tag"> Total: </h2>
            </div>
        </div>
        {% for key2,value2 in value1.items %}
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{key2 | capfirst}}</h2>
                <h2 id="total-tag"> {{ value2 | currency }} </h2>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}