{% extends "base.html" %}

{% load purchase_extras %}

{% block content %}

<h1 id="list-title">Viendo gasto: {{expense}}</h1>
{% if expense.status == 'por pagar' %}
<h1 id="total-list-title">Total por pagar: {{ expense.calculate_amount_to_pay | currency}}</h1>
{% endif %}

<div class="info-container">
    <div id="wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Fecha:</h2>
                <h2 id="title-client-tag">Categoría</h2>
                <h2 id="title-client-tag">Concepto</h2>
                <h2 id="title-client-tag">Descripción</h2>
                <h2 id="title-client-tag">Monto</h2>
                <h2 id="title-client-tag">Estado</h2>
            </div>
        </div>
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{ expense.date.day }} / {{ expense.date.month }} / {{ expense.date.year }}</h2>
                <h2 id="client-tag">{{ expense.categoria | capfirst}}</h2>
                <h2 id="client-tag">{{ expense.concepto | capfirst}}</h2>
                <h2 id="client-tag">{{ expense.descripcion | capfirst}}</h2>
                <h2 id="client-tag">{{ expense.monto | currency}}</h2>
                <h2 id="client-tag">{{ expense.status | capfirst }}</h2>
            </div>
        </div>
    </div>
    {%if payments or self_checks or endorsed_checks%}
    <h1 id="list-title">Pagos:</h1>
    <div class="title-movement-card">
        <div id="card-row-1">
            <h2 id="title-client-tag">Tipo:</h2>
            <h2 id="title-client-tag">Fecha:</h2>
            <h2 id="title-total-tag">Total:</h2>
        </div>
    </div>
    {% for payment in payments %}
    <a href="{{payment.get_absolute_url}}">
        <div class="movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{ payment.tipo | capfirst}}</h2>
                <h2 id="date-tag"> {{ payment.date.day }}/{{ payment.date.month }}/{{ payment.date.year }} </h2>
                <h2 id="total-tag">{{ payment.monto | floatformat:2 | currency }}</h2>
            </div>
        </div>
    </a>
    {% endfor %}
    {% for check in self_checks %}
    <a href="{{check.get_absolute_url}}">
        <div class="movement-card">
            <div id="card-row-1">
                <h2 id="client-tag"> Cheque </h2>
                <h2 id="date-tag"> {{ check.fecha_salida.day }}/{{ check.fecha_salida.month }}/
                    {{check.fecha_salida.year }}
                </h2>
                <h2 id="total-tag">{{ check.monto | floatformat:2 | currency }}</h2>
            </div>
        </div>
    </a>

    {% endfor %}
    {% for check in endorsed_checks %}
    <a href="{{check.get_absolute_url}}">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag"> Endosado </h2>
                <h2 id="date-tag"> {{ check.fecha_ingreso.day }}/{{ check.fecha_ingreso.month }}/{{
                    check.fecha_ingreso.year
                    }} </h2>
                <h2 id="total-tag">{{ check.monto | floatformat:2 | currency }}</h2>
            </div>
        </div>
    </a>
    {% endfor %}
    {% endif %}

    {% if expense.status == 'por pagar' %}
    <h1 id="list-title">Pagos Efectivo o Transferencia:</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ payment_form.content_type.as_hidden }}
        {{ payment_form.object_id.as_hidden }}
        <div id="form-wrapper">
            <div id="small-wrapper">
                <div class="create-section">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-file-invoice-dollar"></i>Tipo:</h3>
                        <h2 id="title-client-tag">{{payment_form.tipo}}</h2>
                    </div>
                </div>
                <div class="create-section">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-money-bill"></i>Monto:</h3>
                        <h2 id="title-client-tag">{{payment_form.monto}}</h2>
                    </div>
                </div>
            </div>
            <input type="submit" value="Agregar" id="create-btn">
        </div>
    </form>
    <h1 id="list-title">Cheque:</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ self_check_form.content_type.as_hidden }}
        {{ self_check_form.object_id.as_hidden }}
        <div id="form-wrapper">
            <div id="small-wrapper">
                <div class="create-section">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-tractor"></i>Fecha pago</h3>
                        <h2 id="title-client-tag">{{self_check_form.fecha_pago}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-list-ol"></i>Banco Emisión:</h3>
                        <h2 id="title-client-tag">{{self_check_form.banco_emision}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-list-ol"></i>Número Cheque:</h3>
                        <h2 id="title-client-tag">{{self_check_form.numero_cheque}}</h2>
                    </div>
                </div>
                <div class="create-section">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-mountain"></i>Titular Cheque:</h3>
                        <h2 id="title-client-tag">{{self_check_form.titular_cheque}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-file-image"></i>Monto:
                        </h3>
                        <h2 id="title-client-tag">{{self_check_form.monto}}</h2>
                    </div>
                </div>
                {{third_p_form.errors}}
            </div>
            <input type="submit" value="Crear" id="create-btn">
        </div>
    </form>
    {% if third_p_checks %}
    <h1 id="list-title">Endosar Cheques:</h1>
    <div class="title-movement-card">
        <div id="card-row-1">
            <h2 id="title-client-tag">Número:</h2>
            <h2 id="title-client-tag">Cliente:</h2>
            <h2 id="title-client-tag">Fecha:</h2>
            <h2 id="title-client-tag">Total:</h2>
            <h2 id="title-client-tag">Endosar:</h2>
        </div>
    </div>
    {% for check in third_p_checks %}
    <form method="post" id="endose-form" action="">
        {% csrf_token %}
        {{ endorsed_checks_form.content_type.as_hidden }}
        {{ endorsed_checks_form.object_id.as_hidden }}
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{ check.numero_cheque }}</h2>
                <h2 id="client-tag">{{ check.cliente | capfirst}}</h2>
                <h2 id="client-tag"> {{ check.fecha_ingreso.day }}/{{ check.fecha_ingreso.month }}/
                    {{check.fecha_ingreso.year }} </h2>
                <h2 id="client-total-tag">{{ check.monto | floatformat:2 | currency }}</h2>
                <input type="button" id="endose-tag" value="Endosar" class="endose-btn">
                <input type="hidden" name="check_id" value="{{ check.id }}">
            </div>
        </div>
    </form>
    {% endfor %}
    {% endif %}
    {% endif %}
</div>

<script type="text/javascript">
    var inputs = document.querySelectorAll('.endose-btn')
    inputs.forEach(input => {
        input.addEventListener("click", function () {
            if (confirm('Quiere endosar el cheque?')) {
                document.getElementById("endose-form").submit()
            } else {
                return false;
            }
        })
    }
    )
</script>

{% endblock %}