{% extends "base.html" %}

{% block title %}Crear campaña {% endblock %}

{% block content %}

<div class="info-container">
    <div id="list-title">
        Agregar Campaña:
    </div>
    <form action="" method="post" onsubmit="confirm('Crear campaña?')">
        {% csrf_token %}
        <div id="form-wrapper">
            <div id="small-wrapper">
                <div class="create-section">
                    <div class="create-element">
                        <h3><i class="fa-solid fa-file-invoice"></i>Nombre Campaña:</h3>
                        <h2 id="title-client-tag">{{campaign_form.nombre}}</h2>
                    </div>
                </div>
            </div>
            <input type="submit" value="Crear" id="create-btn">
        </div>
    </form>
</div>

{% endblock %}